<% if items && items.size() > 0 %>
  <div class="row collapse -no-mrg">
    <% items.each do |e| %>
      <div class="column small-12 medium-6">
        <div class="c-card -pad-bigger -no-shadow -person">
          <div class="c-avatar -medium -ph -mg-bt"></div>
          <h2><a href="/investigators/<%=e.id%>"><%=e.name%></a></h2>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
