<p>
  Dear <%= @name_or_email %>,
</p>

<p>
  <% if @action.include?('request') %>
    Your relation request to <%= @relation_name %> is being reviewed, please, check your dashboard for updates.
  <% else %>
    Your request for <%= @relation_name %> has been <%= @action %>.
  <% end %>
</p>
