<ul class="list">
  <li>
    <p class="group">
      <strong><%= notification.notificable_group %></strong>
      <span class="time"><%= notification.timestamp %></span>
    </p>
    <p><%= notification.notificable_title %></p>
  </li>
</ul>
