.l-app {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 80vh;
  min-height: 50vh;

  .l-app-map {
    position: relative;
    flex: 1;

    .c-map {
      height: 100%;
      background-color: $secondary-color;
    }
  }

  &.-main {
    .c-map {
      background-color: $primary-color;
    }
    .l-app-navbar {
      background-color: rgba($primary-color, .7);
    }
  }

  &.-full {
    height: calc(100vh - 94px); // 100vh - header height
  }

  .l-app-upperbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba($primary-color, .7);
    z-index: 1;


    #layers {
      position: relative;
    }
  }

  .l-app-claim {
    position: absolute;
    top: 37%;
    left: $box-space;
    transform: translate(0, -50%);
  }

  .l-app-navbar {
    position: relative;
    margin-top: -52px;
    background-color: rgba($secondary-color, .7);
  }

  .l-app-title {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: ($box-space * 1.5) 0;

    color: $inverse-font-color;

    background-image: linear-gradient(to top, #68299b, rgba(103, 40, 155, 0));

    pointer-events: none;
  }

  .l-app-bottombar {
  }
}
