.l-content {
  width: 100%;
  padding-top: $box-space;
  padding-bottom: $box-space;

  border-top: 1px solid $border-color-1;

  &:last-child {
    border-bottom-width: 0;
  }

  &.-no-br { border: 0; }
  &.-br-bottom { border-bottom: 1px solid $border-color-1; }

  .l-content-article {
    font-family: $base-font-family-light;
    padding-right: $box-space;
  }

}

.l-content-section {
  font-family: $base-font-family-light;
  padding-top: $box-space;
  padding-bottom: $box-space;
  border-bottom: 1px solid $border-color-1;

  .column {
    flex-flow: column;
  }

  h1, h2, h3 {
    font-family: $base-font-family;
  }

  h1 {
    margin-bottom: $box-space;
  }

  .investigator {
    display: flex;
    align-items: center;
  }

  .c-avatar {
    margin-right: $inline-space;
    & + p {
      margin: 0;
    }
  }

  .content {
    padding-bottom: $box-space;
  }

  &:last-child {
    border: 0;
  }
}
