
.country {
  .c-section-intro {
    height: 900px;

    .intro-info {
      background: linear-gradient(to bottom, rgba($color-4, 0) 0%, darken($color-4, 10%) 50%);
    }

    .c-section-menu {
      padding: 0;
    }
  }
}


