
.country {
  .c-section-intro {
    height: 900px;

    .intro-info {
      background: linear-gradient(to bottom, rgba(104,41,155, 0), rgba(104,41,155, 1));
    }

    .c-section-menu {
      padding: 0;
    }
  }
}


