
.country-index {
  padding-top: 230px;
  padding-bottom: 100px;

  #search {
    font-weight: $font-weight-bold;
    outline: none;
  }

  .search {
    width: 100%;
    border: none;
    margin-bottom: 60px;
  }

  .c-button {
    margin-bottom: 70px;
  }

  .c-card-title {
    font-size: $font-size-x-medium;
    text-transform: capitalize;
    margin-bottom: 25px;
  }
}

.country {
  .c-section-intro {
    height: 900px;

    .intro-info {
      background: linear-gradient(to bottom, transparent, $color-4);
    }

    .c-section-menu {
      padding: 0;
    }
  }
}


