.l-footer {
  padding-bottom: $base-space;
  padding-top: $base-space;
  border-top: 1px solid $border-color-1;

  @media #{$mq-small} {
    padding-bottom: $box-space;
    padding-top: $box-space;
  }

}
