
.project_add {
		.c-section-intro {
		height: 370px;
		border-bottom: 1px solid rgba(0, 0, 0, .15);
		padding: 0 50px;
		.c-title {
			padding-top: 230px;
			display: block;
		}

	}
	.c-section-container {
	  	display: table;
	  	border-bottom: 1px solid rgba(0, 0, 0, .15);
	  	&.-staff {
	  		width: 100%;
			padding: 50px;
	  	}
  	}
	.c-section-half {
		width: 50%;
		padding: 0 50px 50px;
		min-height: 30vh;
		display: table-cell;
		&.-left {
			border-right: 1px solid rgba(0, 0, 0, .15);
		}
		.c-section-title {
			margin:  60px 0 30px 0;
			padding: 0;
			font-size: $font-size-x-small;
			text-transform: uppercase;
			color: rgba($color-2,1);
			display: block;
			font-weight: $font-weight-bold;
			&.-one-line{
				margin: 60px 0 15px 0;
			}
		}
		.-input-line {
			width: 100%;
		    border: none;
		    border-bottom: 1px solid rgba(15,48,70,0.3);
		    height: 30px;
		    font-size: 15px;
		    transition: all 0.25s ease-in;
		    &:focus {
		    	outline: none;
		    	border-bottom: 1px solid rgba(15,48,70,0.6);
		    }
		}
	}
	.c-staff {
		display: table-row;
		span {
			font-size: $font-size-x-small;
			text-transform: uppercase;
			color: rgba($color-2,1);
			display: block;
			font-weight: $font-weight-bold;
		}
		span, 
		.-item {
			display: table-cell;
			height: 40px;
			input[type=checkbox] {
			   display: none;
			}
			label { 
			  	position: relative;
				height: 18px;
				width: 18px;
				border: solid 1px rgba(15, 48, 70, 0.5);
			    display: inline-block;
			    margin: -10px 0 10px 0;
			    cursor: pointer;
			    border-radius: 100%;
			}
			.circle {
				display: none;
			}
			input[type=checkbox]:checked ~ .circle {
			    display: inline-block;
			    height: 10px;
			    width: 10px;
			    border: 1px solid #0f3046;
			    border-radius: 100%;
			    background: #0f3046;
			    position: relative;
			    top: -14px;
			    right: 14px;
			}
		}
	}
}
.separator {
	display: block;
	height: 1px;
	width: 100%;
	width: calc(100% + 100px);
    background-color: rgba(0, 0, 0, 0.15);
    right: 50px;
    position: relative;
    margin: 30px 0 0;
}