<% title t('cancer_types') %>

<section class="l-content">
  <div class="wrapper">
    <div class="row collapse">
      <div class="column small-12">
        <div class="form-row">
          <div id="search-input"></div>
        </div>
        <button class="c-btn -secondary"><%= t 'search' %></button>
      </div>
    </div>
  </div>
</section>

<div id="search-list"></div>
