<div class="l-header">
  <div class="desktop-menu">
    <div class="row collapse align-middle">
      <div class="column small-4 medium-4">
        <div class="logo">
          <%= link_to(home_path) do %>
            <h1>Global cancer project map</h1>
          <% end %>
        </div>
      </div>
      <div class="column small-8 medium-8">
        <%= render "shared/main_nav" %>
      </div>
    </div>
  </div>
</div>
