<div class="l-header wrapper">
  <div class="desktop-menu">
    <div class="row collapse align-middle">
      <div class="column small-11 medium-4">
        <div class="logo">
          <%= link_to(home_path) do %>
            <h1>Global cancer project map</h1>
          <% end %>
        </div>
      </div>
      <div class="column small-1 medium-8 flex align-right">
        <%= render "shared/main_nav" %>
        <svg class="icon icon-menu js-hamburger-menu">
          <use xlink:href="#icon-menu"></use>
        </svg>
      </div>
    </div>
  </div>
</div>
