<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-investigator_user" viewBox="0 0 36 32">
<title>investigator_user</title>
<path class="path1" d="M6.56 27.643v-3.255c0-1.853 6.41-3.606 7.562-3.906l-1.102 4.557c-0.1 0.351 0.15 0.651 0.501 0.651s0.551 0.3 0.501 0.601l-0.501 2.003h-6.26c-0.401 0.050-0.701-0.25-0.701-0.651z"></path>
<path class="path2" d="M17.127 28.344h-0.651l-0.951-6.961c0.651 0.401 1.402 0.651 2.254 0.651s1.602-0.25 2.254-0.651l-0.951 6.961h-1.953z"></path>
<path class="path3" d="M28.995 27.643c0 0.401-0.3 0.701-0.701 0.701h-6.26l-0.501-2.003c-0.050-0.3 0.2-0.601 0.501-0.601 0.351 0 0.601-0.351 0.501-0.651l-1.102-4.557c1.102 0.3 7.562 2.053 7.562 3.906v3.205z"></path>
<path class="path4" d="M22.836 12.119c0.651-6.009-3.055-7.261-5.108-7.412v0 0c-0.401 0-0.701 0-0.951 0.050-1.452 0.25-1.152 1.352-1.152 1.352v0.1c-0.2-0.15-1.152-0.651-2.103 1.002-0.401 0.701-0.651 1.502-0.751 2.203 1.753 0.701 3.055 2.454 3.055 4.457 0 1.402-0.601 2.704-1.603 3.606 0.751 1.252 2.003 2.804 3.505 2.804 2.554 0 4.357-4.357 4.357-4.357s0.451 0.25 1.202-1.552c0.701-1.753-0.3-2.203-0.451-2.254z"></path>
<path class="path5" d="M12.67 9.915c0 0 0 0 0 0-0.451-0.15-0.951-0.25-1.452-0.25-2.304 0-4.157 1.853-4.157 4.157 0 0.751 0.25 1.502 0.601 2.153l-1.603 1.602c-0.25 0.25-0.25 0.601 0 0.851l0.601 0.601c0.1 0.1 0.3 0.2 0.401 0.2s0.3-0.050 0.401-0.2l1.602-1.602c0.651 0.351 1.352 0.601 2.153 0.601s1.602-0.25 2.203-0.651c1.102-0.801 1.803-2.053 1.803-3.505 0.050-1.803-1.052-3.305-2.554-3.956zM10.617 15.975l-2.053-2.053 0.851-0.851 1.202 1.202 2.454-2.454 0.851 0.851-3.305 3.305z"></path>
</symbol>
<symbol id="icon-investigator" viewBox="0 0 36 32">
<title>investigator</title>
<path class="path1" d="M7.712 27.293v-3.255c0-1.853 6.41-3.606 7.562-3.906l-1.102 4.557c-0.1 0.351 0.15 0.651 0.501 0.651s0.551 0.3 0.501 0.601l-0.501 2.003h-6.26c-0.401 0.050-0.701-0.25-0.701-0.651z"></path>
<path class="path2" d="M18.279 27.994h-0.651l-0.951-6.961c0.651 0.401 1.402 0.651 2.254 0.651s1.602-0.25 2.254-0.651l-0.951 6.961h-1.953z"></path>
<path class="path3" d="M30.147 27.293c0 0.401-0.3 0.701-0.701 0.701h-6.31l-0.501-2.003c-0.050-0.3 0.2-0.601 0.501-0.601 0.351 0 0.601-0.351 0.501-0.651l-1.102-4.557c1.102 0.3 7.562 2.053 7.562 3.906v3.205z"></path>
<path class="path4" d="M23.937 11.768c0.651-6.009-3.055-7.261-5.108-7.412v0 0c-0.401 0-0.701 0-0.951 0.050-1.452 0.25-1.152 1.352-1.152 1.352v0.1c-0.2-0.15-1.152-0.651-2.103 1.002-0.501 0.901-0.751 1.903-0.851 2.754-0.451-0.15-0.951-0.25-1.452-0.25-2.304 0-4.156 1.853-4.156 4.156 0 0.751 0.25 1.502 0.601 2.153l-1.603 1.602c-0.25 0.25-0.25 0.601 0 0.851l0.601 0.601c0.1 0.1 0.3 0.2 0.401 0.2s0.3-0.050 0.401-0.2l1.603-1.602c0.651 0.351 1.352 0.601 2.153 0.601 1.052 0 1.953-0.351 2.704-1.002 0.751 1.302 2.103 3.205 3.806 3.205 2.554 0 4.357-4.357 4.357-4.357s0.451 0.25 1.202-1.552c0.751-1.703-0.25-2.203-0.451-2.254zM14.473 16.476c-0.351-0.601-0.551-1.052-0.551-1.052s-0.401 0.25-1.152-1.452c-0.751-1.703 0.451-2.103 0.451-2.103-0.050-0.451-0.050-1.202 0.050-2.053 1.502 0.551 2.504 2.003 2.504 3.706 0.050 1.152-0.451 2.203-1.302 2.955z"></path>
</symbol>
<symbol id="icon-user" viewBox="0 0 36 32">
<title>user</title>
<path class="path1" d="M13.521 11.268c-0.050-0.951-0.15-3.255 0.951-5.158 0.951-1.703 1.953-1.152 2.153-1.002v-0.1c0 0-0.351-1.152 1.202-1.402 0.25-0.050 0.601-0.050 1.002-0.050v0 0c2.153 0.1 5.959 1.452 5.308 7.712 0.15 0.050 1.202 0.551 0.451 2.304-0.801 1.903-1.252 1.602-1.252 1.602s-1.903 4.557-4.557 4.557c-2.654 0-4.557-4.557-4.557-4.557s-0.451 0.3-1.252-1.602c-0.751-1.853 0.551-2.304 0.551-2.304z"></path>
<path class="path2" d="M30.598 27.493c0 0.401-0.351 0.751-0.751 0.751h-21.934c-0.401 0-0.751-0.351-0.751-0.751v-3.405c0-2.103 8.013-4.106 8.013-4.106h0.2c0.801 1.002 2.053 1.653 3.505 1.653 1.402 0 2.654-0.651 3.505-1.653h0.15c0 0 8.013 2.003 8.013 4.106v3.405z"></path>
</symbol>
<symbol id="icon-funding" viewBox="0 0 32 32">
<title>funding</title>
<path class="path1" d="M30.667 29.333v-12h1.333v-2.667h-32v2.667h1.333v12h-1.333v2.667h32v-2.667h-1.333zM28 29.333h-4v-12h4v12zM17.333 17.333h4v12h-4v-12zM14.667 29.333h-4v-12h4v12zM4 17.333h4v12h-4v-12z"></path>
<path class="path2" d="M17.333 4.133v-2.8c0-0.8-0.533-1.333-1.333-1.333s-1.333 0.533-1.333 1.333v2.8c-4.667 0.4-8.4 3.6-10 7.867h22.533c-1.467-4.267-5.2-7.467-9.867-7.867z"></path>
</symbol>
<symbol id="icon-collaborators" viewBox="0 0 32 32">
<title>collaborators</title>
<path class="path1" d="M31.219 8.12l-15.219-6.919-15.219 6.919 1.104 2.427 14.115-6.415 14.115 6.415z"></path>
<path class="path2" d="M13.179 24.665c-1.148-0.912-3.095-1.999-5.845-1.999s-4.697 1.087-5.844 1.997c-0.947 0.751-1.489 1.885-1.489 3.117v2.885h14.667v-2.885c0-1.232-0.543-2.367-1.488-3.116z"></path>
<path class="path3" d="M12 16.667c0 2.577-2.089 4.667-4.667 4.667s-4.667-2.089-4.667-4.667c0-2.577 2.089-4.667 4.667-4.667s4.667 2.089 4.667 4.667z"></path>
<path class="path4" d="M30.512 24.665c-1.148-0.912-3.095-1.999-5.845-1.999s-4.697 1.087-5.844 1.997c-0.947 0.751-1.489 1.885-1.489 3.117v2.885h14.667v-2.885c0-1.232-0.543-2.367-1.488-3.116z"></path>
<path class="path5" d="M29.333 16.667c0 2.577-2.089 4.667-4.667 4.667s-4.667-2.089-4.667-4.667c0-2.577 2.089-4.667 4.667-4.667s4.667 2.089 4.667 4.667z"></path>
</symbol>
<symbol id="icon-pending" viewBox="0 0 32 32">
<title>pending</title>
<path class="path1" fill="#68299b" stroke="#68299b" stroke-width="1.6" stroke-miterlimit="4" stroke-linecap="butt" stroke-linejoin="miter" d="M30.4 16c0 7.953-6.447 14.4-14.4 14.4s-14.4-6.447-14.4-14.4c0-7.953 6.447-14.4 14.4-14.4s14.4 6.447 14.4 14.4z"></path>
<path class="path2" fill="#fff" d="M17.067 17.067c0 0.589-0.478 1.067-1.067 1.067s-1.067-0.478-1.067-1.067v-6.4c0-0.589 0.478-1.067 1.067-1.067s1.067 0.478 1.067 1.067v6.4zM16 22.4c-0.589 0-1.067-0.478-1.067-1.067s0.478-1.067 1.067-1.067c0.589 0 1.067 0.478 1.067 1.067s-0.478 1.067-1.067 1.067v0zM16 3.2c-7.058 0-12.8 5.742-12.8 12.8s5.742 12.8 12.8 12.8c7.058 0 12.8-5.742 12.8-12.8s-5.742-12.8-12.8-12.8v0z"></path>
</symbol>
<symbol id="icon-menu" viewBox="0 0 39 32">
<title>menu</title>
<path class="path1" d="M0 28.444h39.111v3.556h-39.111v-3.556zM0 14.222h39.111v3.556h-39.111v-3.556zM0 0h39.111v3.556h-39.111v-3.556z"></path>
</symbol>
<symbol id="icon-bell" viewBox="0 0 32 32">
<title>bell</title>
<path class="path1" d="M30.667 23.333c0-1.333-0.8-2.267-1.733-3.333-1.067-1.2-2.267-2.4-2.267-4.667v-4c0-5.6-4.4-10-10-10s-10 4.4-10 10v4c0 2.267-1.2 3.467-2.267 4.667-0.933 1.067-1.733 2-1.733 3.333 0 2.267 3.6 3.867 9.333 4.4 0.267 2.4 2.133 4.267 4.667 4.267 2.4 0 4.4-1.733 4.667-4.267 5.733-0.533 9.333-2.133 9.333-4.4zM16.667 30.667c-1.733 0-3.067-1.2-3.333-2.8 1.067 0 2.133 0.133 3.333 0.133s2.267 0 3.333-0.133c-0.267 1.6-1.6 2.8-3.333 2.8zM16.667 26.667c-8.8 0-12.667-2-12.667-3.333 0-0.8 0.667-1.467 1.467-2.4 1.2-1.333 2.533-2.8 2.533-5.6v-4c0-4.8 3.867-8.667 8.667-8.667s8.667 3.867 8.667 8.667v4c0 2.8 1.467 4.4 2.533 5.6 0.8 0.933 1.467 1.6 1.467 2.4 0 1.333-3.867 3.333-12.667 3.333z"></path>
</symbol>
<symbol id="icon-message" viewBox="0 0 32 32">
<title>message</title>
<path class="path1" d="M31 1h-30c-0.552 0-1 0.447-1 1v20c0 0.553 0.448 1 1 1h6v6c0 0.382 0.218 0.73 0.561 0.898 0.34 0.166 0.75 0.127 1.053-0.109l8.729-6.789h13.657c0.552 0 1-0.447 1-1v-20c0-0.553-0.448-1-1-1z"></path>
</symbol>
<symbol id="icon-arrow_up" viewBox="0 0 53 32">
<title>arrow_up</title>
<path class="path1" d="M53.333 30.041l-26.667-30.041-26.667 30.041z"></path>
</symbol>
<symbol id="icon-arrow_down" viewBox="0 0 53 32">
<title>arrow_down</title>
<path class="path1" d="M0 2.286l26.667 30.041 26.667-30.041z"></path>
</symbol>
<symbol id="icon-filter" viewBox="0 0 32 32">
<title>filter</title>
<path class="path1" d="M2 0c-1.2 0-2 0.8-2 2v4c0 0.6 0.2 1.2 0.8 1.6l11.2 9.4v13c0 0.8 0.4 1.6 1.2 1.8 0.2 0.2 0.6 0.2 0.8 0.2 0.6 0 1-0.2 1.4-0.6l4-4c0.4-0.4 0.6-0.8 0.6-1.4v-9l11.2-9.4c0.6-0.4 0.8-1 0.8-1.6v-4c0-1.2-0.8-2-2-2h-28z"></path>
</symbol>
<symbol id="icon-layers" viewBox="0 0 35 32">
<title>layers</title>
<path class="path1" d="M17.067 26.453l-12.587-7.893-4.48 2.773 17.067 10.667 17.067-10.667-4.482-2.773z"></path>
<path class="path2" d="M17.067-0.001l-17.067 10.667 17.067 10.667 17.067-10.667z"></path>
</symbol>
<symbol id="icon-globe" viewBox="0 0 30 32">
<title>globe</title>
<path class="path1" d="M26.4 15.2c0.133 0.667 0.267 1.467 0.267 2.133 0 1.867-0.4 3.733-1.2 5.333-2.667 1.467-3.867 0.667-5.067-0.267-0.8-0.667-2-1.467-3.467-0.933s-2.533 1.733-3.2 3.2c-0.533 1.333-0.667 3.067-0.4 4.667-2.667-0.267-5.067-1.467-6.8-3.2 0.933-2 0.933-4-0.267-5.733-0.267-0.533-0.667-0.933-1.067-1.333-0.667-0.667-0.4-1.867 0.4-2.267 1.067-0.533 2.267-1.067 3.067-2.133 1.6-2.4-0.267-5.867-0.667-6.533-0.133-0.133-0.267-0.267-0.4-0.533 1.333-0.933 2.8-1.6 4.4-2 0.133-1.067 0.4-2 0.8-2.8-7.2 0.933-12.8 7.067-12.8 14.533 0 8.133 6.533 14.667 14.667 14.667s14.667-6.533 14.667-14.667c0-1.6-0.267-3.2-0.8-4.8-0.667 0.933-1.333 1.867-2.133 2.667z"></path>
<path class="path2" d="M21.333 9.333c-1.467 0-2.667-1.2-2.667-2.667s1.2-2.667 2.667-2.667c1.467 0 2.667 1.2 2.667 2.667s-1.2 2.667-2.667 2.667zM21.333 0c-3.333 0-6.667 2.533-6.667 6.667 0 3.733 5.2 8.533 5.733 8.933 0.267 0.267 0.533 0.4 0.933 0.4s0.667-0.133 0.933-0.4 5.733-5.2 5.733-8.933c0-4.133-3.333-6.667-6.667-6.667z"></path>
</symbol>
<symbol id="icon-marker" viewBox="0 0 25 32">
<title>marker</title>
<path class="path1" d="M12.528 31.844c0 0 12.528-12.397 12.528-19.316s-5.609-12.528-12.528-12.528c-6.919 0-12.528 5.609-12.528 12.528s12.528 19.316 12.528 19.316z"></path>
</symbol>
<symbol id="icon-add" viewBox="0 0 32 32">
<title>add</title>
<path class="path1" d="M17.778 14.222h10.667v3.556h-10.667v10.667h-3.556v-10.667h-10.667v-3.556h10.667v-10.667h3.556v10.667zM21.333 10.667v-10.667h-10.667v10.667h-10.667v10.667h10.667v10.667h10.667v-10.667h10.667v-10.667h-10.667z"></path>
</symbol>
<symbol id="icon-arrow" viewBox="0 0 32 32">
<title>arrow</title>
<path class="path1" d="M10.397 0.158l-3.481 3.481 12.401 12.401-11.933 11.933 3.481 3.481 15.376-15.414-3.481-3.481z"></path>
</symbol>
<symbol id="icon-close" viewBox="0 0 32 32">
<title>close</title>
<path class="path1" d="M20.089 15.849l10.599-10.599-4.24-4.24-10.599 10.599-10.599-10.599-4.24 4.24 10.599 10.599-10.599 10.599 4.24 4.24 10.599-10.599 10.599 10.599 4.24-4.24-10.599-10.599z"></path>
</symbol>
<symbol id="icon-download" viewBox="0 0 32 32">
<title>download</title>
<path class="path1" d="M14.769 15.788l-3.853-4.63-3.532 0.021 8.573 10.301 8.658-10.404-3.542 0.021-3.842 4.617v-12.023h-2.462v12.096zM2.462 25.846h27.077v2.462h-27.077v-2.462zM0 13.538h2.462v14.769h-2.462v-14.769zM29.538 13.538h2.462v14.769h-2.462v-14.769z"></path>
</symbol>
<symbol id="icon-edit" viewBox="0 0 32 32">
<title>edit</title>
<path class="path1" d="M10.521 28.055l-6.575-6.575 21.479-21.479 6.575 6.575-21.479 21.479zM0 32l2.63-9.205 6.575 6.575-9.205 2.63z"></path>
</symbol>
<symbol id="icon-facebook" viewBox="0 0 16 32">
<title>facebook</title>
<path class="path1" d="M0 9.998h3.125v-3.038c0-1.339 0.034-3.404 1.008-4.684 1.024-1.355 2.432-2.276 4.852-2.276 3.943 0 5.604 0.562 5.604 0.562l-0.78 4.631c0 0-1.303-0.377-2.519-0.377s-2.304 0.436-2.304 1.652v3.531h4.985l-0.347 4.524h-4.638v15.714h-5.86v-15.714h-3.125v-4.524z"></path>
</symbol>
<symbol id="icon-info" viewBox="0 0 32 32">
<title>info</title>
<path class="path1" d="M20.442 27.442l-0.288 1.231c-1.18 0.474-2.122 0.805-2.827 0.99s-1.308 0.279-1.808 0.279c-1.026 0-1.795-0.266-2.308-0.798s-0.769-1.189-0.769-1.971c0-0.295 0.026-0.603 0.077-0.923s0.135-0.724 0.25-1.212l2.038-8.173c0.103-0.449 0.202-0.93 0.298-1.442s0.144-0.949 0.144-1.308c0-0.718-0.119-1.195-0.356-1.433s-0.721-0.356-1.452-0.356c-0.282 0-0.657 0.045-1.125 0.135s-0.824 0.167-1.067 0.231l0.288-1.231c1-0.449 1.897-0.782 2.692-1s1.423-0.327 1.885-0.327c1.051 0 1.814 0.25 2.288 0.75s0.712 1.173 0.712 2.019c0 0.231-0.026 0.545-0.077 0.942s-0.128 0.795-0.231 1.192l-2.058 8.173c-0.128 0.5-0.24 0.99-0.337 1.471s-0.144 0.875-0.144 1.183c0 0.731 0.163 1.231 0.49 1.5s0.856 0.404 1.587 0.404c0.244 0 0.593-0.032 1.048-0.096s0.805-0.141 1.048-0.231v0 0zM21.808 2.865c0 0.731-0.237 1.369-0.712 1.913s-1.064 0.817-1.769 0.817c-0.654 0-1.218-0.26-1.692-0.779s-0.712-1.112-0.712-1.779c0-0.705 0.237-1.321 0.712-1.846s1.038-0.788 1.692-0.788c0.731 0 1.327 0.247 1.788 0.74s0.692 1.067 0.692 1.721v0 0z"></path>
</symbol>
<symbol id="icon-linkedin" viewBox="0 0 32 32">
<title>linkedin</title>
<path class="path1" d="M30.236 29.541h-6.683v-9.76c0-2.555-1.045-4.299-3.344-4.299-1.758 0-2.736 1.177-3.191 2.311-0.171 0.407-0.144 0.972-0.144 1.541v10.206h-6.62c0 0 0.085-17.289 0-18.86h6.62v2.96c0.391-1.294 2.507-3.141 5.884-3.141 4.187 0 7.477 2.713 7.477 8.555v10.487zM3.559 8.322h-0.043c-2.133 0-3.516-1.442-3.516-3.269 0-1.863 1.426-3.275 3.6-3.275s3.511 1.408 3.554 3.269c0 1.828-1.38 3.275-3.595 3.275v0zM0.761 29.541h5.895v-18.86h-5.895v18.86z"></path>
</symbol>
<symbol id="icon-minus" viewBox="0 0 32 32">
<title>minus</title>
<path class="path1" d="M0 18.909h31.838v-5.818h-31.838z"></path>
</symbol>
<symbol id="icon-plus" viewBox="0 0 32 32">
<title>plus</title>
<path class="path1" d="M12.894 0v12.8h-12.894v6.4h12.894v12.8h6.212v-12.8h12.894v-6.4h-12.894v-12.8z"></path>
</symbol>
<symbol id="icon-save" viewBox="0 0 32 32">
<title>save</title>
<path class="path1" d="M32 9.333h-15.111l-3.556-5.333h-13.333v24h32v-18.667zM29.333 12v13.333h-26.667v-18.667h9.333l4 5.333h13.333z"></path>
</symbol>
<symbol id="icon-share" viewBox="0 0 32 32">
<title>share</title>
<path class="path1" d="M24.938 20.875c-1.147 0-2.182 0.476-2.92 1.24l-10.943-5.472c0.033-0.209 0.051-0.424 0.051-0.643s-0.018-0.434-0.051-0.643l10.943-5.472c0.739 0.764 1.774 1.24 2.92 1.24 2.244 0 4.063-1.819 4.063-4.063s-1.819-4.063-4.063-4.063-4.063 1.819-4.063 4.063c0 0.219 0.018 0.434 0.051 0.643l-10.943 5.472c-0.739-0.764-1.774-1.24-2.92-1.24-2.244 0-4.063 1.819-4.063 4.063s1.819 4.063 4.063 4.063c1.147 0 2.182-0.476 2.92-1.24l10.943 5.472c-0.033 0.209-0.051 0.424-0.051 0.643 0 2.244 1.819 4.063 4.063 4.063s4.063-1.819 4.063-4.063c0-2.244-1.819-4.063-4.063-4.063z"></path>
</symbol>
<symbol id="icon-search" viewBox="0 0 30 32">
<title>search</title>
<path class="path1" d="M21.077 24.189c-2.183 1.56-4.856 2.478-7.743 2.478-7.364 0-13.333-5.97-13.333-13.333s5.97-13.333 13.333-13.333c7.364 0 13.333 5.97 13.333 13.333 0 3.857-1.637 7.331-4.255 9.765l7.631 7.116-1.212 1.3-7.801-7.275 0.048-0.051zM13.333 24.889c6.382 0 11.556-5.174 11.556-11.556s-5.174-11.556-11.556-11.556c-6.382 0-11.556 5.174-11.556 11.556s5.174 11.556 11.556 11.556z"></path>
</symbol>
<symbol id="icon-sort" viewBox="0 0 32 32">
<title>sort</title>
<path class="path1" d="M13.579 30.043l-7.761-9.294 2.233-1.865 7.761 9.294h-2.233l7.838-9.387 2.233 1.865-8.955 10.724-1.116-1.337zM15.889 1.337l7.761 9.294-2.233 1.865-7.761-9.294h2.233l-7.838 9.387-2.233-1.865 8.955-10.724 1.116 1.337z"></path>
</symbol>
<symbol id="icon-twitter" viewBox="0 0 32 32">
<title>twitter</title>
<path class="path1" d="M32.070 5.909c-1.178 0.523-2.449 0.877-3.778 1.035 1.359-0.813 2.402-2.103 2.891-3.639-1.271 0.755-2.677 1.301-4.179 1.594-1.197-1.278-2.908-2.076-4.802-2.076-3.631 0-6.577 2.946-6.577 6.579 0 0.516 0.056 1.016 0.169 1.498-5.468-0.275-10.315-2.891-13.562-6.876-0.567 0.977-0.89 2.106-0.89 3.311 0 2.281 1.161 4.296 2.927 5.476-1.079-0.032-2.093-0.331-2.982-0.821v0.081c0 3.189 2.268 5.848 5.28 6.451-0.553 0.154-1.133 0.232-1.736 0.232-0.424 0-0.836-0.040-1.237-0.117 0.836 2.613 3.266 4.518 6.146 4.567-2.251 1.766-5.090 2.818-8.171 2.818-0.531 0-1.056-0.030-1.57-0.090 2.912 1.864 6.37 2.953 10.086 2.953 12.104 0 18.72-10.024 18.72-18.718 0-0.286-0.006-0.572-0.019-0.853 1.286-0.928 2.404-2.086 3.283-3.405z"></path>
</symbol>
<symbol id="icon-remove" viewBox="0 0 32 32">
<title>remove</title>
<path class="path1" d="M6 32h20l2-22h-24zM20 4v-4h-8v4h-10v6l2-2h24l2 2v-6h-10zM18 4h-4v-2h4v2z"></path>
</symbol>
<symbol id="icon-user-plus" viewBox="0 0 32 32">
<title>user-plus</title>
<path class="path1" d="M12 23c0-4.726 2.996-8.765 7.189-10.319 0.509-1.142 0.811-2.411 0.811-3.681 0-4.971 0-9-6-9s-6 4.029-6 9c0 3.096 1.797 6.191 4 7.432v1.649c-6.784 0.555-12 3.888-12 7.918h12.416c-0.271-0.954-0.416-1.96-0.416-3z"></path>
<path class="path2" d="M23 14c-4.971 0-9 4.029-9 9s4.029 9 9 9c4.971 0 9-4.029 9-9s-4.029-9-9-9zM28 24h-4v4h-2v-4h-4v-2h4v-4h2v4h4v2z"></path>
</symbol>
<symbol id="icon-user-minus" viewBox="0 0 32 32">
<title>user-minus</title>
<path class="path1" d="M12 23c0-4.726 2.996-8.765 7.189-10.319 0.509-1.142 0.811-2.411 0.811-3.681 0-4.971 0-9-6-9s-6 4.029-6 9c0 3.096 1.797 6.191 4 7.432v1.649c-6.784 0.555-12 3.888-12 7.918h12.416c-0.271-0.954-0.416-1.96-0.416-3z"></path>
<path class="path2" d="M23 14c-4.971 0-9 4.029-9 9s4.029 9 9 9c4.971 0 9-4.029 9-9s-4.029-9-9-9zM28 24h-10v-2h10v2z"></path>
</symbol>
</defs>
</svg>
