<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-contact" viewBox="0 0 32 32">
<title>contact</title>
<path class="path1" fill="none" stroke-width="2.7826" stroke-miterlimit="4" stroke-linecap="round" stroke-linejoin="miter" d="M30.609 30.609l-4.349-4.349M14.052 19.896c-5.425 0-9.006 1.135-10.934 1.99-1.055 0.468-1.727 1.514-1.727 2.669v5.081h15.583M7.235 8.209c0-3.765 3.052-6.817 6.817-6.817s6.817 3.052 6.817 6.817c0 3.765-3.052 7.791-6.817 7.791s-6.817-4.026-6.817-7.791v0zM27.687 22.817c0 2.689-2.181 4.87-4.87 4.87s-4.87-2.181-4.87-4.87c0-2.689 2.181-4.87 4.87-4.87s4.87 2.181 4.87 4.87z"></path>
</symbol>
<symbol id="icon-submit" viewBox="0 0 33 32">
<title>submit</title>
<path class="path1" fill="none" stroke-width="2.6667" stroke-miterlimit="4" stroke-linecap="round" stroke-linejoin="round" d="M10.917 20.125l3.833 3.833 7.667-7.667"></path>
<path class="path2" fill="none" stroke-width="2.6667" stroke-miterlimit="4" stroke-linecap="round" stroke-linejoin="round" d="M31.041 10.541h-28.749z"></path>
<path class="path3" fill="none" stroke-width="2.6667" stroke-miterlimit="4" stroke-linecap="round" stroke-linejoin="round" d="M25.292 3.833h5.749v25.875h-28.749v-25.875h5.749"></path>
<path class="path4" fill="none" stroke-width="2.6667" stroke-miterlimit="4" stroke-linecap="round" stroke-linejoin="round" d="M11.875 3.833h9.583"></path>
<path class="path5" fill="none" stroke-width="2.6667" stroke-miterlimit="4" stroke-linecap="round" stroke-linejoin="round" d="M8.041 6.708h3.833v-5.749h-3.833z"></path>
<path class="path6" fill="none" stroke-width="2.6667" stroke-miterlimit="4" stroke-linecap="round" stroke-linejoin="round" d="M21.459 6.708h3.833v-5.749h-3.833z"></path>
</symbol>
<symbol id="icon-upload" viewBox="0 0 47 32">
<title>upload</title>
<path class="path1" fill="none" stroke-width="3.0476" stroke-miterlimit="4" stroke-linecap="round" stroke-linejoin="miter" d="M23.278 26.381v-14.274"></path>
<path class="path2" fill="none" stroke-width="3.0476" stroke-miterlimit="4" stroke-linecap="round" stroke-linejoin="miter" d="M16.79 18.595l6.488-6.488 6.488 6.488"></path>
<path class="path3" fill="none" stroke-width="3.0476" stroke-miterlimit="4" stroke-linecap="round" stroke-linejoin="miter" d="M28.469 28.976h7.786c3.633-0.389 6.488-3.374 6.488-7.137s-2.855-6.748-6.488-7.137c-0.649-6.618-6.229-11.679-12.976-11.679-5.839 0-10.77 3.893-12.457 9.213-3.893 0.649-7.007 4.152-7.007 8.305 0 4.412 3.374 8.045 7.786 8.435h6.488"></path>
</symbol>
<symbol id="icon-write" viewBox="0 0 32 32">
<title>write</title>
<path class="path1" fill="none" stroke-width="2.3704" stroke-miterlimit="4" stroke-linecap="round" stroke-linejoin="round" d="M9.513 29.195l-8.173 1.022 1.022-8.173 20.434-20.435 7.153 7.153z"></path>
</symbol>
</defs>
</svg>
