<div class="c-legend">
  <ul class="marker-legend">
    <li>
      <div class="legend-icon -events">
        <svg class="marker-icon"><use xlink:href="#icon-marker"></use></svg>
      </div>
      <div class="legend-label"><%= t 'project_leads' %></div>
    </li>
    <li>
      <div class="legend-icon -points"><div class="circle-icon"></div></div>
      <div class="legend-label"><%= t 'collaborators' %></div>
    </li>
  </ul>
</div>
