<div class="c-legend">
  <ul>
    <li>
      <div class="dot"></div>
      <span class="legend-label"><%= t 'project_leads' %></span>
    </li>
    <li>
      <div class="dot"></div>
      <span class="legend-label"><%= t 'collaborators' %></span>
    </li>
  </ul>
</div>
