<div class="c-legend">
  <ul>
    <li>
      <span></span>
      <h3><%= t 'project_leads' %></h3>
    </li>
    <li>
      <span></span>
      <h3><%= t 'collaborators' %></h3>
    </li>
  </ul>
</div>
