<div class="c-legend">
  <ul class="marker-legend">
    <li>
      <div class="legend-icon -events">
        <div class="circle-icon"></div>
      </div>
      <div class="legend-label"><%= t 'projects' %></div>
    </li>
  </ul>
</div>
