
<div id="dataTabNav" class="c-tabnav">
  <div class="row collapse">
    <div class="column small-12">
      <ul class="tabnav-list">
         <% @filters.each do |filter| %>
          <%# @class = !params['type'] and filter == "projects" ? "-active" : active_param?('type', filter) %>
          <li class="tabnav-item">
            <a class="js-btn-mapmenu-type" href="#" data-type="<%= filter %>"><%= t (filter) %></a>
            <%= link_to (t filter),
              map_path(request.query_parameters.merge({ 'data-type': filter })),
              class: "js-btn-mapmenu-type",
              remote: true,
              data: {magic: true} %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
