<div class="column small-4">
  <div id="">
    <ul class="c-btn-container">
      <li><a href="/network/" class="c-btn -secondary -inverse">Follow</a></li>
    </ul>
    <ul class="c-btn-container">
      <li><a href="/network/<%= current_user.id %>/projects/new" class="c-btn -transparent -extra-thin">+ Project</a></li>
      <li><a href="/network/<%= current_user.id %>/posts/new" class="c-btn -transparent -extra-thin">+ Post</a></li>
      <li><a href="/network/<%= current_user.id %>/events/new" class="c-btn -transparent -extra-thin">+ Event</a></li>
    </ul>
  </div>
</div>
