<div class="c-counters">
  <div class="wrapper">
    <div class="row">
      <div class="column small-4">
        <h3>Projects</h3>
        <span class="amount"><%= @projects_total %></span>
      </div>
      <div class="column small-4">
        <h3>Events</h3>
        <span class="amount"><%= @events_total %></span>
      </div>
      <div class="column small-4">
        <h3>People</h3>
        <span class="amount"><%= @people_total %></span>
      </div>
    </div>    
  </div>
</div>
