<% title 'Welcome' %>
<%= render "shared/icons_home" %>

<% if browser.device.mobile? %>
  <%= render "mobile_intro" %>
<% else %>
  <%= render "desktop_intro" %>
<% end %>

<section class="l-grid" id="content">
  <%= render 'home/list' %>
</section>
