<% title 'Welcome' %>
<%= render "shared/icons_home" %>

<% if browser.device.mobile? %>
  <%= render "mobile_intro" %>
<% else %>
  <%= render "desktop_intro" %>
<% end %>

<section class="l-grid" id="content">
  <%= render 'home/list' %>
</section>

<section class="l-content wrapper">
  <div class="c-widget-featured">
    <div class="row collapse align-center">
      <div class="column small-3">
        <div id="widgets-select"></div>
      </div>
      <div class="column small-12">
        <div id="widgets-graph" class="c-graph"></div>
      </div>
    </div>
  </div>

  <div class="c-spinner -start">
   <div class="spinner-box">
     <div class="icon"></div>
   </div>
 </div>
</section>
