<% title 'Welcome' %>

<section class="l-app -main -full">
  <div class="l-app-map">
    <div id="map" class="c-map"></div>
  </div>
  <div class="l-app-claim">
    <div class="c-claim">
      <h1>Discover projects <br> and much more</h1>
      <%= link_to 'Explore the map', map_path %>
    </div>
  </div>
  <div class="l-app-bottombar">
    <div class="wrapper">
      <div class="row collapse">
        <div class="column small-12">
          <div id="counters">
            <%= render 'home/counters' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="l-grid" id="content">
  <%= render 'home/list' %>
</section>
