<div class="form-inputs">
  <%= f.input :name %>
  <div>
    <%= f.fields_for :addresses do |addresses_form| %>
      <%= render 'address_relation_form', f: addresses_form %>
    <% end %>
    <p class="add-button">
      <%= add_address_path 'Add Addresse', f, :addresses, 'add_fields add_address add_addresses_fields' %>
    </p>
  </div>
</div>
<hr></hr>
