<div class="form-inputs">
  <%= f.hidden_field :_destroy %>
  <%= link_to '×', '#', id: "delete-#{f.object.id}", class: 'remove_fields' %>
  <% if f.object.research_unit_id.present? %>
    <%= link_to @project.select_organizations(f.object.research_unit_id), '#' %>
  <% else %>
    <%= f.input :research_unit_id, label: 'Organization', collection: @project.select_organizations, as: :collection_select, input_html: { class: '' } %>
  <% end %>

</div>
