<div class="l-content wrapper">
  <div class="row collapse">
    <div class="column small-12 medium-6">
      <div id="incidenceRanking" class="c-ranking">
        <div class="c-spinner -start">
          <div class="spinner-box">
            <div class="icon"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="column small-12 medium-6">
      <div id="mortalityRanking" class="c-ranking">        
        <div class="c-spinner -start">
          <div class="spinner-box">
            <div class="icon"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
