<div class="row collapse">
  <div class="column small-12 medium-4">
    <div class="c-card -ranking">
      <div id="incidenceRanking" class="c-ranking">
        <div class="c-spinner -start">
          <div class="spinner-box">
            <div class="icon"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column small-12 medium-4">
    <div class="c-card -ranking">
      <div id="mortalityRanking" class="c-ranking">
        <div class="c-spinner -start">
          <div class="spinner-box">
            <div class="icon"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column small-12 medium-4">
    <div class="c-card -ranking">
      <div id="survivorsRanking" class="c-ranking">
        <div class="c-spinner -start">
          <div class="spinner-box">
            <div class="icon"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
