<section class="c-section-index country-index">
  <div class="row">
    <div class="column small-12 medium-12">
      <div id="search-input"></div>
    </div>
  </div>

  <div class="row">
    <div class="column small-12 medium-12">
      <a href="#search-list" class="c-button -filled -color-3"><%= t 'search' %></a>
    </div>
  </div>

  <div class="row">
    <div class="column small-12 medium-12">
      <div id="search-list"></div>
    </div>
  </div>
</section>

