<section class="c-section-index country-index">
  <div class="search-container wrapper">
    <input class="c-title -bigger js-search-list" id="search-input" placeholder="<%= t 'search_placeholder' %>" /><br/>
    <a href="#search-list" class="c-button -filled -color-3"><%= t 'search' %></a>
    <div id="search-list"></div>
  </div>
</section>

