<section class="country-index">
  <div class="wrapper">
    <input class="c-title -bigger search" id="search" placeholder="Type the country name_" /><br/>
    <a href="#regions-list" class="c-button -filled -color-3">Search</a>
    <div id="regions-list"></div>
  </div>
</section>

