<div class="l-content">
  <div class="wrapper">
    <div class="row">
      <div class="column small-12 medium-8 large-6">
        <h1>Editing Post</h1>

        <%= render 'form', post: @post %>

          <%= link_to 'Destroy', @post, class: 'c-btn -primary -inverse', method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  </div>
</div>
