<% investigator = User.find_by_id(@post.user_id) %>
<div class="l-content">
  <div class="wrapper">
    <div class="row collapse">
      <div class="column small-12">         
        <h1><%= @post.title %></h1>
        <p><%= @post.body.html_safe %></p>
        <div>
          <div class="c-avatar -ph -small"></div>
          <p><%= investigator && investigator.name && investigator.name %></p>      
        </div>

        <%= link_to 'Edit', edit_post_path(@post), class: 'c-btn -primary' %>          
      </div>
    </div>
  </div>  
</div>


