#about-content{
  padding-bottom: 75px;

	.header-about {
		min-height: 315px;
		background-color: #68299b;
		color: #fff;
		padding: 50px 0;
    margin-bottom: 50px;

		h1 {
      margin-top: 0;
      margin-bottom: 40px;
    }
	}

	h2 {
		line-height: 1.4;
		color: #0f3046;
		font-size: 25px;
		margin: 0;
	}

  ul {
    padding-bottom: 40px;
  }

  .delimiter {
    display: inline-block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    width: 100%;
    margin-bottom: 50px;
  }

	li {
		padding: 45px 0;
		text-align: center;
		line-height: 1.7;

		.icon {
			display: block;
			height: 129px;
			width: 129px;
			background-repeat: no-repeat;
	    background-position: 50% 50%;
	    width: 100%;
	    margin: 0 0 23px 0;

			&.-share {
				background-image: asset-url(abouticon-01);
			}
			&.-search {
				background-image: asset-url(abouticon-02);
			}
			&.-connect {
				background-image: asset-url(abouticon-03);
			}
			&.-view {
				background-image: asset-url(abouticon-04);
			}
			&.-more {
				background-image: asset-url(abouticon-05);
			}
		}
	}

	p {
		display: block;
		clear: both;

		a {
			color: #5aade4;
			font-weight: bold;

      &:hover { opacity: .6; }
		}
	}
}
