.c-btn {
  @extend %reset-btn;
  padding: $button-y-padding $button-x-padding;

  font-size: $small-font-size;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;

  border-radius: 0;

  &.-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    width: 140px;
    height: 140px;
    text-align: center;
    border: 1px solid $border-color-1;
    border-radius: 100%;
  }

  &.-primary {
    color: $inverse-font-color;
    background-color: $primary-color;
  }

  &.-inverse {
    color: $primary-color;
    background-color: white;
    border: 1px solid $primary-color;
  }

  &.-global {
    color: $inverse-font-color;
    background-color: $secondary-color;
  }

  &.-alternative {
    color: $inverse-font-color;
    background-color: $alternative-color;
  }
}
