/**
 *
 *	<div class="c-card-user-profile">
 *		<a class="profile-picture">
 *			<div class="c-user-profile-picture -small"> {...} </div>
 *		</a>
 *		<div class="info">
 *			<a class="name"> {User's name} </a>
 *			<a class="organization"> {Organization's name} </a>
 *		</div>
 *	</div>
 *
 */
.c-card-user-profile {
  display: flex;
  align-items: center;

  > .profile-picture {
    margin-right: 22px;
  }

  > .info {

    > .name {
      display: block;
      font-weight: $font-weight-bold;
    }

  }

}
