.c-card {
  width: 100%;
  padding: $box-space;
  background-color: $body-bg-color;
  box-shadow: 0 0 0 1px $border-color-1;

  h2 {
    margin-top: $inline-space;
  }

  .tag {
    display: inline-block;
    color: $base-font-color;
  }
}
