

.c-cards-profiles {
  display: flex;
  justify-content: space-between;

  & .c-user-profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .info {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }


}
