/**
 *
 *	<div class="c-card-grid">
 *		<div class="card -1-4">{Card content goes here}</div>
 *		<div class="card -1-4">{Card content goes here}</div>
 *		{...}
 *	</div>
 *
 * 	Card grid classes:
 * 		- "-1-4": 1/4 of row's width
 * 		- "-1-3": 1/3 of row's width
 * 		- "-1-2": 1/2 of row's width
 * 		- "-2-3": 2/3 of row's width
 * 		- "-3-4": 3/4 of row's width
 *
 * 	Additionnaly, the classes can be used for the responsiveness:
 * 		- "-mobile-large-{1-4, 2/3, ...}": styles apply for large mobile+
 * 		- "-tablet-{1-4, 2/3, ...}":       styles apply for tablet+
 * 		- "-laptop-{1-4, 2/3, ...}":       styles apply for laptop+
 *
 */
.c-card-grid {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  border-top:    1px solid rgba(0, 0, 0, .2);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  /* The overflow property is mandatory to hide the borders of the cards at the
   * edge of the wrapper. If borders are necessary, set it on the wrapper
   * itself. */
  overflow: hidden;

  > .card {
    position: relative;
    padding: 25px $wrapper-mobile-padding;

    @media #{$mq-mobile-large} {
      padding: 30px $wrapper-tablet-padding;
    }

    @media #{$mq-tablet} {
      padding: 30px $wrapper-padding;
    }

    &:before {
      content: '';
      display: block;
      z-index: 1;
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(0, 0, 0, .2);
    }

    &:after {
      content: '';
      display: block;
      z-index: 1;
      position: absolute;
      top: 0;
      right: -1px;
      width: 1px;
      height: 100%;
      background-color: rgba(0, 0, 0, .2);
    }

    /* Default sizes */
    &.\-1-4 { flex-basis: 25%;    }
    &.\-1-3 { flex-basis: 33.33%; }
    &.\-1-2 { flex-basis: 50%;    }
    &.\-2-3 { flex-basis: 66.66%; }
    &.\-3-4 { flex-basis: 75%;    }

    /* Specific sizes relying on the screen size */
    $breakpoints: (
      "mobile-large": $mq-mobile-large,
      "tablet":       $mq-tablet,
      "laptop":       $mq-laptop
    );

    @each $breakpoint, $mq in $breakpoints {
      @media #{$mq} {
        &.\-#{$breakpoint}-1-4 { flex-basis: 25%;    }
        &.\-#{$breakpoint}-1-3 { flex-basis: 33.33%; }
        &.\-#{$breakpoint}-1-2 { flex-basis: 50%;    }
        &.\-#{$breakpoint}-2-3 { flex-basis: 66.66%; }
        &.\-#{$breakpoint}-3-4 { flex-basis: 75%;    }
      }
    }

    > .c-tag-list { margin-top: 7px; }

    > .c-button {
      display: inline-block;
      margin-top: 10px;
    }

  }
}
