.c-counters {
  padding-top: $box-space;
  padding-bottom: $box-space;
  text-align: center;

  @media screen and (max-height: 900px) {
    padding-top: $base-space;
    padding-bottom: $base-space;
  }

  &.-projects { background: rgba($primary-color, .1); }
  &.-people { background: rgba($secondary-color, .1); }
  &.-events { background: rgba($alternative-color, .1); }

  .amount {
    display: block;

    font-size: $large-font-size;
    font-weight: bold;
    line-height: 0.8;

    @media screen and (max-height: 900px) {
      font-size: 45px;
    }
  }
}
