.l-footer {
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, .15);

  @media #{$mq-tablet} {
    padding: 60px 0;
  }

  .container {
    display: flex;
    flex-direction: column-reverse;

    @media #{$mq-tablet} {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    > ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    > .medias {
      display: flex;
      align-items: center;
      margin-top: 15px;

      @media #{$mq-tablet} {
        margin-top: 0;
      }

      > li {
        margin-right: 30px;

        &:last-of-type { margin-right: 0; }

        &.-big {
          font-size: $font-size-x-medium;
          font-weight: bold;
          letter-spacing: -.5px;
        }

        &.-notext > a {
          display: block;
          text-indent: calc(-100vw - 1000px);
        }

        &.-linkedin > a {
          width: 17px;
          height: 16px;
          background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAgCAYAAAB6kdqOAAAB+0lEQVR4Ae2YNZAVQRCGF3fIcEhwhwjLqJ49vzwkwd3dSXGHdHpwdyfn4sNdpp/iLsM1/mR2T/cW+avW/676Vlrec1h5O6ODQNIxQCKQOg5IZ92dkWFObQh20RBA+lAGYlIWpM+uohGBAwnUlxgg2yJQXw4eSNKz7EC80PulxtQN+gldsT4hqR84QctVepYNyEW9NHAgfiWAtFogffz1ZOgTSFq/9KKp79SW8vdE2+aoaC5gJIf3nYD0X0VHTVNXxXvm7U90HF1iGvgG5OyJduXCmG0RSPNTEgBpms0LUr/56dtFfQXSDpCkU4utfl22PekqKvJI+2g3e5bRwlQvTbF5GcoYU8eVtNLqSV1Owp5kqyoBuUiTvYAE6uW+IKmdoCTvhGlUeSBFkzyAPgvUb+0A1rjVGd9QeYEA9UQ+X83Lm2IVaZPyhKoTiIuqQL0HFM0VGNkokK77xXCy1AQQw7zkOSo97QHpqE/c4RoC0hOyZvLOWHuB+p01DulOjQDlnUi0dCziNLfH0vNqzzJuzp6TKerNXjfDTd6eZZVL+w/eg6Be5gXEk0WgQDxbVT8Q0uRQAXEvCxUQKJr6H8jnG5oWrm9IRaaHC0hGZoQKCDAyM1RA/KOyxoFGXjSNhYwMz7a4OxOdnN9UuCfewe71/vsG9iQ7s8+2/PB9AZ2/qI3sZ5tPAAAAAElFTkSuQmCC") no-repeat center center;
          background-size: 100%;
        }

        &.-twitter > a {
          width: 17px;
          height: 14px;
          background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAACeklEQVR4Ab1XA8xdTRC9v1W7jWorqN3u3tq23aC27aA2dvZ9tW3rL+Ok1s4+fAzq22+KT888yfPczXlnzuAakUZTUNUZIHChXnFQ75lAxQCPMKm6WJb1i1u8VBU677Z+y3CA7pMWGAJSD/uTS1zAAT8xoSxPDw54tY3UBTvvtmczpW7HAQ8zwPVph3Cwl2KAXziotaGS4YA2jwTcyCgXJ6XoM2AitzmKpB1igh6SFhgCGdNm70TXBvOg1DGBlVics5wJuqdBYAIXZgoEPNhit71QICRmWdavHPBN8ETwwQ//JLaIc5T+oQhO8yBhvCntfQMxJ8WH9sAELh0NApKWA55moJvSP/foDYndQyTyovluV/msjv+HJPJ3oQlqVkvQxTP5Q2DXUIhwges8u16oCQEfRG4XeIOD3soBN4WmiF7iRqK1TM5H0pNJKSgWDy71GDciDHAuB/W/KXAlF/g2NmSwhxsRar/0Yywfpg1ruBGhtssAU2JHBBNovnhr0VNi5g+h9hje0O+C9TcHdTImaQEc6LtdX7B+Tw1czQV+jhYJGno0ff2OcmpYTW32ehzUxSiV7QzDH2jqMsBHUTRpcktIzB3ghoVtY9DEAoMp1fgoeONkSEsXdT4adBEhAojUq4xQ0fy49Re36fY0Aii/IZJIbCZ1LSNcmNJZlgFeD1WJpnG6ihEqKJemTdfmAnfRVh4iiSdNd9tLBu4Faa9LtxIM1Cgu1GxqvwyUIwxTvqcd2DyF/xnBgPYQ2k0jYUwu8FSz3Y4yRjigadhU2ptROoKcxHc5qIlpK2QkQaQ42KtyoYcxklniBkoZFyhp12SgZ9IOY+7GYkaE8BXattPRnB+6WAAAAABJRU5ErkJggg==") no-repeat center center;
          background-size: 100%;
        }

        &.-facebook > a {
          width: 8px;
          height: 17px;
          background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAkCAMAAACzM5rVAAAAAXNSR0IArs4c6QAAAI1QTFRFAAAAgP//gL//SqrqTKrsRqftRKruRqroRKjsSartRafoRqbpRKbnRaboRqXpRabpRqXoRaTpRabpRaXnRqToRaXoRKboRqToRKTpRqXnRKToRaXoRKToRaXoRKXoRKXoRaXnRKTnRaToRaXoRKTnRaXnRaXoRaXnRKXoRaToRKTnRaXnRaXoRKXoRKTn/GDJ5AAAAC50Uk5TAAIEGBsdHiEpKkNFVllbXGNocnd5enuEiouSnJ2eqLvAwsfU1dff7fD09/n8/uyVHVkAAACASURBVCjP7c7LDoIwEIXhUVRAqkABxStV7ih9/8ez4USLaVwYt/6rM99qiIbsXd70t7rM9g6AVq18toR495dIC1RoqSGuFnkBrXF1Bx4fYxAH+aRLQIsRbUCz70gIUYGuaoqtIvneyaTUpMikQBFj7IwrVJPNf3n1TyOaTIfocw/+4zRFARgiRwAAAABJRU5ErkJggg==") no-repeat center center;
          background-size: 100%;
        }
      }

    }

    > .menu {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      > li {
        flex-basis: 50%;
        margin-bottom: 15px;

        @media #{$mq-mobile-large} {
          flex-basis: 33.33%;
        }

        @media #{$mq-tablet} {
          flex-basis: auto;
          margin-bottom: 0;
          margin-left: 40px;
        }

        &:first-of-type {
          @media #{$mq-tablet} {
            margin-left: 0;
          }
        }

        > a { color: $color-2; }
      }
    }

  }

}
