.c-icon {
  cursor: pointer;
  width: 15px;
  height: 15px;

  &.-small {
    width: 12px;
    height: 12px;
  }

  &.-normal {
    width: 15px;
    height: 15px;
  }

  &.-medium {
    width: 20px;
    height: 20px;
  }

  &.-big {
    width: 24px;
    height: 24px;
  }

  &.-primary { fill: $dark-sky-blue; }
  &.-inverse { fill: $body-bg-color; }
  &.-inverse-stroke { stroke: rgba($body-bg-color, .5); }

  &.-hv-opac {
    &:hover {
      opacity: .5;
    }
  }
}
