.c-icon {
  cursor: pointer;
  width: 15px;
  height: 15px;

  &.-small {
    width: 12px;
    height: 12px;
    vertical-align: -2px;
    margin-right: 5px;
  }

  &.-normal {
    width: 15px;
    height: 15px;
  }

  &.-medium {
    width: 20px;
    height: 20px;
  }

  &.-blue { fill: $dark-sky-blue; }

  &:hover {
    opacity: .5;

    &.-hv-opac { opacity: .5; }
    &.-hv-blue { fill: $dark-sky-blue; }
    &.-hv-black { fill: $black; }
  }
}
