
.c-infowindow {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: $base-font-color;
  text-align: center;
  font-family: $base-font-family;

  &.-no-iteraction {
    pointer-events: none;
  }

  h3 {
    width: 100%;
    color: $base-font-color;

    & > a {
      color: $base-font-color;

      &:hover {
        color: $primary-color;
      }
    }

    & + a {
      color: $primary-color;

      &:hover {
        opacity: .7;
      }
    }
  }

  .c-tag {
    margin-top: 15px;
  }
}
