
.c-infowindow {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: $base-font-color;
  text-align: center;
  font-family: $base-font-family;

  &.-no-iteraction {
    pointer-events: none;
  }

  > * {
    margin: 20px 0 0;

    &:first-child { margin: 0; }
  }

  .investigator, .organization {
    > * {
      display: block;
      margin: 5px 0 0;

      &:first-child { margin: 0; }
    }
  }

  h3 {
    width: 100%;
    color: $base-font-color;

    & > a {
      color: $base-font-color;

      &:hover {
        color: $primary-color;
      }
    }

    & + a {
      color: $primary-color;

      &:hover {
        opacity: .7;
      }
    }

    > span {
      display: block;
      text-transform: none;
      margin: 5px 0 0;
    }
  }

  > p {
    margin-bottom: 0;
  }
}
