
/**
 *
 *  <div class="field">
 *    <label>{ Content }</label>
 *    <input>
 *  </div>
 *
 */

.field {
  margin-bottom: 48px;

  label {
    font-family: $font-family-1;
    font-size: $font-size-x-small;
    font-weight: $font-weight-bold;
    line-height: 14px;
    text-transform: uppercase;
    color: $color-2;
    margin-bottom: 10px;
  }

  input {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    background-color: $color-3 !important;
    height: 28px;
    outline: none;
    width: 520px;
  }

  input:-webkit-autofill {
    background-color: red !important;
  }

  input[type="checkbox"] {
    width: auto;
    height: 13px;
  }
}
