.c-layers {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  width: 25%;

  position: absolute;
  top: ($inline-space * 2) + $base-space;
  bottom: $base-space;
  left: $base-space * 3;
  z-index: 1;

  background-color: $body-bg-color;
  box-shadow: $box-shadow;
  pointer-events: all;
  cursor: auto;
  overflow-y: auto;

  .layers-item {
    text-transform: capitalize;
    margin: 0 ($inline-space / 2);


    .layer {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .layer-arrow {
        transform: rotate(90deg);
      }
    }

    .switch {
      padding: ($button-y-padding / 2) ($button-x-padding / 2);
      margin: 0;
    }

    > .layer-list {
      list-style: none;
      margin: 0;
    }

    &.-collapsed {

      .layer-arrow {
        transition: transform 0.3s;
        transform: rotate(0deg);
      }

      > .layer-list {
        display: none;
      }
    }
  }

  .layers-item:first-child {
    margin-top: $inline-space;
  }

  .layers-item:last-child {
    margin-bottom: $inline-space;
  }
}
