
 /**
  *   Preferred markup (for accessibility matter):
  *
  *   <div class="c-legend-map-container">
  *     { c-map }
  *     { c-map-legend }
  *   </div>
  *
  **/

.c-legend-map-container {
  display: flex;
  flex-flow: column;
  height: 560px;

  @media #{$mq-tablet} {
    flex-flow: row;
  }

  .c-map {
    width: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.20);
  }

  .c-map-legend {
    padding: 60px 80px;
    width: 100%;

    @media #{$mq-tablet} {
      width: 460px;
    }

    .c-title {
      margin-top: 0;
    }
  }
}
