.c-list {
  list-style: none;
  padding: 0;
  margin: 0;

  &.-mg-bottom {
    margin-bottom: $box-space;
  }

  .list-item {
    display: block;
    font-family: $base-font-family-light;
    margin-bottom: $inline-space;

    &.-mg-less {
      margin-bottom: 2px;
    }

    & a {
      word-wrap: break-word;

      &.-uppercase {
        font-weight: bold;
        text-transform: uppercase;
        color: $secondary-color;

        &:hover {
          opacity: .6;
        }
      }
    }
  }
}
