
/**
 *
 *  <div class="c-mail-message">
 *    { Content }
 *  </div>
 *
 */

.c-mail-message {
  font-family: $font-family-1;
  font-size: $font-size-normal;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
