/**
 *
 *  <div class="c-marker">
 *  	<div class="arc"></div>
 *  	<div class="value">{ value }</div>
 *  </div>
 *
 */


.c-marker {
	border-radius: 50%;
	box-shadow: $shadow-1;
  background: $color-3;

  &:hover {
    background: darken($color-3, 2.5%);
  }

  .value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: $font-size-x-medium;
    font-weight: $font-weight-bold;
    color: $color-2;
  }

  &.-point {
    // TO-DO: add this color to settings?
    box-shadow: none;
    background: #417394;

    &:hover {
      background: darken(#417394, 5%);
    }
  }

  &.-icon {
    background-color: rgba(0, 0, 0, 0);
    & .icon-Oval {
      width: 26px;
      height: 37px;
      stroke: #005e9c;
      transform: translate(-50%, -50%);
    }
  }

  &.-events, &.-investigator {
    background: $color-6;

    &:hover {
      background: darken($color-6, 5%);
    }

    .value {
      color: $color-3;
    }
  }

	.arc {

	}

}
