.c-map-upperbar {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 36px;
  width: 100%;
  background-color: rgba($color-1, 0.8);
  z-index: 1;

  ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    list-style: none;

    > li {
      display: flex;
      align-items: center;
      min-height: 36px;
    }
  }

  .-map-breadcrumbs > ul {
    overflow-y: hidden;
    > li {
      display: flex;
      align-items: center;
      min-height: 36px;
      background-color: $color-1;

      > a {
        padding: 0 1rem;
        height: 36px;
        font-size: 11px;
        font-weight: bold;
        color: $color-3;
        text-transform: uppercase;
        display: flex;
        align-items: center;

        > .globe-icon {
          display: none;
          height: 70%;
          padding-right: 1rem;
          border-right: 0.5px solid $color-3;
          margin-right: 1rem;

          > svg {
            width: 15px;
            height: 15px;
            fill: $color-3;
          }

        }
      }

      > .arrow-tail {
        display: none;
        width: 0;
        height: 0;
      }

      > .rhombus {
        display: none;
        width: 21px;
        height: 21px;
        border: 1px solid transparent;
        border-right: 1px solid rgba($color-3, 0.5);
        border-top: 1px solid rgba($color-3, 0.5);
        background-color: $color-1;
        transform: rotate(45deg) skew(15deg, 15deg);
        position: relative;
        right: 11px;

        &.-last {
          display: inherit;
        }
      }

      &:first-child {
        > a {
          color: $color-3;
        }
      }

      &:last-child {
        background-color: transparent;

        > a {
          color: $color-2;
          background-color: $color-3;

          > .globe-icon {
            background-color: $color-3;
            border-right: 0.5px solid rgba($color-2, 0.6);
            > svg {
              fill: $color-2;
            }
          }
        }

        > .rhombus {
          display: inherit;
          background-color: $color-3;

          &.-last {
            display: none;
          }
        }

        > .arrow-tail {
          display: inherit;
          border-top: 18px solid $color-3;
          border-bottom: 18px solid $color-3;
          border-left: 15px solid $color-1;
        }
      }

      &:nth-child(1) {
        > .arrow-tail {
          display: none;
        }

        > .rhombus {
          &.-last {
            display: none;
          }
        }
        > a {
          > .globe-icon {
            display: flex;
            align-items: center;

          }
        }
      }
    }
  }

    .-map-legends {
      display: flex;
      justify-content: flex-end;
      > ul {
        font-size: 12px;
        font-weight: bold;
        line-height: 1;
        color: $color-3;
        text-transform: uppercase;
        > li {
          display: flex;
          align-items: center;
          min-height: 36px;
          margin-right: 3em;

          > span {

            &.circle-icon {
              width: 15px;
              height: 15px;
              border-radius: 100%;
              margin-right: 5px;

              &.-blue {
                border: 1px solid #006eb8;
                background-color: #007bcd;
              }

              &.-purple {
                border: 1px solid $color-4;
                background-color: #b85fff;
              }

              &.-orange {
                border: 1px solid #e86b16;
                background-color: $color-6;
              }
            }
          }

          > svg {

            &.marker-icon {
              height: 20px;
              width: 20px;
              margin-right: 5px;
              &.-orange {
                fill: $color-6;
                stroke: #e86b16;
              }
              &.-blue {
                fill: #007bcd;
                stroke: #006eb8;
              }
            }
          }
        }
      }
    }
  }
