.c-map-filters {
  // Grid
  .grid-filters {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    list-style: none;

    .grid-item {
      width: 47.5%;
      margin: 10px 0 0;
    }
  }

  .grid-buttons {
    margin: 15px 0 0;
    display: flex;
    justify-content: center;
  }
}

#btn-clear-filters {
  position: absolute;
  top: 10px;
  right: 10px;

  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15), 0 1px 0 0 rgba(0, 0, 0, 0.05);

  z-index: 2;
}
