.c-map-breadcrumbs {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 36px;
  width: 100%;
  background-color: rgba(#5aade4, 0.7);
  z-index: 1;

  ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    list-style: none;

    > li {
      display: flex;
      align-items: center;
      margin-right: 1rem;
      min-height: 36px;

      > a {
        padding: .5rem 1rem;

        font-size: 11px;
        font-weight: bold;
        line-height: 1;
        color: white;
        text-transform: uppercase;

        border: solid 1px white;
       }
    }
  }
}
