.c-map-filters {
  // Grid
  .grid-filters {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    list-style: none;

    .grid-item {
      width: 47.5%;
      margin: 10px 0 0;
    }
  }

  .grid-buttons {
    margin: 15px 0 0;
    display: flex;
    justify-content: center;
  }
}
