.c-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primary-color;

  &.-relative {
    position: relative;
    height: 350px;
  }

  &.-target {
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      transform: translate(-50%,-50%);
      width: 16px;
      height: 16px;
      background: transparent;
      border: 2px solid $primary-color;
      border-radius: 50%;
    }
  }

  .leaflet-bar {
    border-radius: 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15), 0 1px 0 0 rgba(0, 0, 0, 0.05);

    & a:first-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    & a:last-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      margin-bottom: 0;
    }

    & a,
    & a:hover {
      border-bottom: 0;
      margin-bottom: 1px;
    }
  }

  .leaflet-pane {
    z-index: 0;
  }

  .leaflet-left .leaflet-control {
    margin-left: $base-space;
  }

  .leaflet-top .leaflet-control {
    margin-top: $base-space;
  }

  .l-app.-main & .leaflet-top .leaflet-control {
    margin-top: $base-space + 35px;
  }

  .l-app.-home & .prunecluster,
  .l-app.-home & .bubble-icon {
    pointer-events: none;
  }


  .leaflet-top,
  .leaflet-bottom,
  .leaflet-left,
  .leaflet-right {
    z-index: 2;
  }

  .prunecluster,
  .bubble-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-weight: bold;
    font-size: 18px;

    background-color: white;

    border-radius: 100%;

    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
    transition: all .3s ease;

    &:hover {
      box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.5);
      z-index: 1000 !important;
    }

    .marker-arc {
      position: absolute;
      top: 0;
      left: 0;
    }

    &.prunecluster {
      color: #007bcd;
      font-size: 18px;
      background-color: white;
      border: 1px solid #007bcd;

      &.-points-cluster-icon {
        color: $base-font-color;
        border: 0;
        font-size: $small-font-size;
        line-height: 0.8;
      }
    }
  }

  &.-projects .bubble-icon {
    background-color: rgba(#007bcd, 0.85);
  }
  &.-projects .prunecluster {
    color: #007bcd;
    border-color: #007bcd;
  }

  &.-events .bubble-icon {
    background-color: rgba($alternative-color, 0.85);
  }
  &.-events .prunecluster {
    color: $alternative-color;
    border-color: $alternative-color;
  }

  &.-people .bubble-icon {
    background-color: rgba($secondary-color, 0.85);
  }
  &.-people .prunecluster {
    color: $secondary-color;
    border-color: $secondary-color;
  }

  .circle-icon {
    border: 1px solid $secondary-color;
    background: $secondary-color;
    border-radius: 100%;
    box-shadow: 0 3px 5px 0 rgba(3, 11, 43, 0.2);
  }

  &.-events .circle-icon {
    background-color: #f57823;
    border: 1px solid #e66d1b;
  }

  .marker-icon {
    .icon {
      fill: #007bcd;
      width: 26px;
      height: 36px;
      stroke: #005e9c;
      stroke-width: 1px;
      filter: drop-shadow(0 3px 5px rgba(3, 11, 43, 0.2));
    }
  }

  &.-events .marker-icon svg.icon {
    fill: $alternative-color;
    stroke: $alternative-color;
  }

  &.-people .marker-icon svg.icon {
    fill: $secondary-color;
    stroke: $secondary-color;
  }

  .point-icon {
    background: white;
    border: 0;
    border-radius: 100%;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);

    &.-alternative {
      background-color: #f57823;
    }
  }

  .leaflet-control-zoom {
    display: none;

    @media screen and (min-width: 450px) {
      display: inherit;
    }
  }

  .leaflet-control-search {
    width: 250px;
    border: 2px solid rgba(0, 0, 0, 0.2);

    .search-input {
      padding: 0 12px;
      border: none;
    }

    .search-cancel {
      position: absolute;
      top: 0;
      right: 6px;
      font-size: 23px;
    }

    .search-tooltip {
      margin: 0;
      padding: 0;
      background: white;
      list-style: none;

      .search-tip {
        list-style: none;
        padding: 6px 12px;

        &:hover, &.search-tip-select {
          background: darken(white, 5%);
        }
      }
    }
  }
}
