
/**
 *
 *  <div class="c-map-intro-legend">
 *    <ul class="legend-list">
 *      <li class="item"><div class="icon -first"></div>{ Content }</li>
 *      <li class="item"><div class="icon -second"></div>{ Content }</li>
 *    </ul>
 *    <div class="viel"></div>
 *  </div>
 *
 */

.c-map-intro-legend {
  position: relative;
  float: right;
  display: inline-block;
  z-index: 5;
  margin: 10px;
  padding: 11px 15px;

  .legend-list {
    display: flex;
    flex-flow: column;

    @media #{$mq-mobile-large} {
      flex-flow: row;
    }
  }

  .item {
    display: flex;
    align-items: center;
    font-family: $font-family-1;
    font-size: $font-size-x-small;
    font-weight: $font-weight-bold;
    color: $color-3 !important;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media #{$mq-mobile-large} {
      margin-bottom: 0;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 6px;

    &.-first { background-color: $color-3; }
    &.-second { background-color: $color-6; }
  }

  .viel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-4;
    opacity: .7;
    z-index: -1;
  }
}
