/**
 *
 *  <div class="c-map"></div>
 *
 */
.c-map {
  min-height: 600px;
  height: 100%;
  z-index: 1;
  background: $color-4;

  &.-map, &.-map.leaflet-container {
    background: $color-1;
  }

  &.-detail, &.-detail.leaflet-container {
    background: $color-4;
  }

  .leaflet-control-attribution {
    display: none;

    @media #{$mq-tablet} {
      display: inherit;
    }
  }

  /* !important needed to force the change from the library */
  .leaflet-popup {
    bottom: 2px !important;

    .leaflet-popup-content { margin: 0; }

    .leaflet-popup-content-wrapper {
      padding: 25px 40px;
      border-radius: 0;
      max-height: 190px;
      max-width: 190px;
      overflow-y: auto;
      font-weight: $font-weight-bold;
    }

    .leaflet-popup-close-button {
      display: none;
    }

    .people {
      display: flex;
      flex-flow: column;
      text-align: center;
    }

    .person {
      font-size: $font-size-x-small;
      color: $color-2;
      margin: 0;
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

#map-legend {
  position: absolute;
  top: 60px;
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15), 0 1px 0 0 rgba(0, 0, 0, 0.05);
  z-index: 2;
  padding: 10px;
  right: 10px;
  .legend-title {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4;
    color: #0f3046;
  }
}