.c-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba($overlay-bg-color, .3);

  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in;
  z-index: 1000; // Just to be sure that is over all the content

  // Active styles
  &.-active, &.-open {
    visibility: visible;
    opacity: 1;
  }

  &.-tiny {
    .modal-container {
      max-width: $modal-tiny-max-width;
    }
  }

  .modal-container {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: $body-bg-color;
    z-index: 1;

    @media #{$mq-small} {
      width: 80%;
      max-width: $modal-max-width;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  }

  .modal-content {
    position: relative;
    width: 100%;
    max-height: 95%;
    padding: $small-box-space;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    @media #{$mq-small} {
      padding: $box-space;
      max-height: 85vh;
    }
  }

  .modal-close {
    @extend %reset-btn;
    display: block;
    position: absolute;
    top: $small-box-space;
    right: $small-box-space;
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    z-index: 2; /* Otherwise, it won't be reachable */

    @media #{$mq-small} {
      top: 20px;
      right: 20px;
    }
  }

  .modal-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
