.c-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba($overlay-bg-color, .3);

  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in;
  z-index: 1000; // Just to be sure that is over all the content

  // Active styles
  &.-active, &.-open {
    visibility: visible;
    opacity: 1;
  }

  .modal-container {
    position: absolute;
    padding: $box-space;
    width: 100%;
    max-width: 80%;
    max-height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: $body-bg-color;
    z-index: 1;
  }

  .modal-content {
    height: 350px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .modal-close {
    @extend %reset-btn;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    z-index: 2; /* Otherwise, it won't be reachable */
  }

  .modal-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .modal-buttons {
    position: absolute;
    bottom: 2px;
  }
}
