
/**
 *
 *  <div class="c-no-items wrapper">
 *    { c-title } or { c-button }
 *  </div>
 *
 *
 **/

.c-no-items {
  display: flex;
  flex-flow: column;

  p {
    margin: 0;
    margin-bottom: 20px;
  }

  & .c-button {
    display: inline-table;
  }

  &.-padding {
    padding-top: 30px;
    padding-bottom: 10px;
  }
}
