/**
 *
 *  Preferred markup (for accessibility matter):
 *   <div class="c-numbers-grid">
 *    <div class="number-info">
 *      <label class="title">{ content }</label>
 *      <p class="number">{ content }</p>
 *    </div>
  *    <div class="number-info">
 *      <label class="title">{ content }</label>
 *      <p class="number">{ content }</p>
 *    </div>
 *   </div>
 *
 *  Colors modifiers (for the text):
 *    - "-color-1": blue   ($color-1)
 *    - "-color-2": orange ($color-6)
 *    - "-color-3": purple ($color-4)
 *    - "-color-4": white  ($color-3)
 *    - "-color-5": dark   ($color-2) - DEFAULT, optional class
 */

.c-numbers-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: $color-2;

  &.-color-1 { color: $color-1; }
  &.-color-2 { color: $color-6; }
  &.-color-3 { color: $color-4; }
  &.-color-4 { color: $color-3; }

  @media #{$mq-mobile-large} {
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  > .number-info {
    display: flex;
    flex-flow: column;
    font-weight: $font-weight-bold;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    @media #{$mq-mobile-large} {
      margin-right: 70px;
    }

    > .title {
      font-size: $font-size-x-small;
      text-transform: uppercase;
    }

    > .number {
      font-size: $font-size-x-big;
      line-height: $font-size-x-big;
      margin: 0;
    }
  }
}
