/**
 *
 *  Preferred markup (for accessibility matter):
 *  <div class="c-pagination-button">
 *    <a href="{ Path }" class="circle-button">{ Content }</a>
 *  </div>
 *
 *
 */

.c-pagination-button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 90px 0;

  .circle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    font-family: $font-family-1;
    font-weight: $font-weight-bold;
    font-size: $font-size-x-small;
    color: $color-2;
    text-transform: uppercase;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.15);

    &:hover {
      border: 2px solid rgba(0, 0, 0, .4);
    }
  }

}
