
/**
 *
 *  <div class="c-personal-info">
 *    { c-user-profile-picture }
 *    <div class="data-container">
 *     <h1 class="c-title -big"> { Content }
 *       <svg class="c-svg -medium icon icon-">
 *          <use xlink:href="#icon-"></use>
 *       </svg>
 *     </h1>
 *     <div class="professional-data">
 *       <ul class="work-info"></ul>
 *     </div>
 *   </div>
 *  </div>
 *
**/

.c-personal-info {
  display: flex;
  flex-flow: row;

  .c-user-profile-picture {
    margin-right: 38px;
  }

  .data-container {
    display: flex;
    flex-flow: column;
    flex-grow: 1;

    .c-title {
      margin-bottom: 20px !important;
    }

    & .professional-data {
      display: flex;
      justify-content: space-between;
    }

    ul li {
      font-family: $font-family-1;
      font-weight: $font-weight-light;
      font-size: $font-size-normal;
      margin-bottom: 5px;
    }

    .follow span {
      font-weight: $font-weight-bold;
    }

    .c-svg {
      display: none;

      &.-active {
        display: inherit;
      }
    }
  }
}
