.c-pickadate {
  margin: 20px 0 0;

  label {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $small-font-size;
  }

	.pickadate-input {
		display: none;
	}

	.pickadate-container {
		&:focus {
			outline: none;
		}

		.picker-custom {
			// font-size: $font-size-tiny;

			&:focus {
				outline: none;
			}

			.picker-holder-custom {
				&:focus {
					outline: none;
				}

        .picker__header {
          display: flex;
          justify-content: center;
          margin-top: 0;

          select {
            min-width: 0;
          }


          .picker__select--year,
          .picker__select--month {
            color: $dark-sky-blue;
          }

          .picker__nav--prev,
          .picker__nav--next {
            top: 6px;
          }

          .picker__nav--next {
            right: 0;
          }

          .picker__nav--prev {
            left: 0;
          }

          .picker__nav--prev:before,
          .picker__nav--next:before {
            width: 8px;
            height: 8px;
            border: 0;
            transform: rotate(45deg);
          }

          .picker__nav--prev:before {
            border-bottom: 2px solid $dark-sky-blue;
            border-left: 2px solid $dark-sky-blue;
          }

          .picker__nav--next:before {
            border-top: 2px solid $dark-sky-blue;
            border-right: 2px solid $dark-sky-blue;
          }
        }
			}

			// Year && month selectors
			.picker__select--year,
			.picker__select--month {
				appearance: none;
				margin: 0px 2px;
				padding: 0 5px;
				width: auto;
				border: none;
				background: none;
				text-transform: uppercase;
				color: $base-font-color;

				cursor: pointer;
				font-family: inherit;
				font-weight: bold;
			}
		}
	}
}
