.c-pickadate {

  label {
    text-align: center;
  }

	.pickadate-input {
		display: none;
	}

	.pickadate-container {
		&:focus {
			outline: none;
		}

		.picker-custom {
			font-size: $font-size-tiny;

			&:focus {
				outline: none;
			}

			.picker-holder-custom {
				&:focus {
					outline: none;
				}
			}

			// Year && month selectors
			.picker__select--year,
			.picker__select--month {
				appearance: none;
				margin: 0px 2px;
				padding: 0 5px;
				width: auto;
				border: none;
				background: none;
				text-transform: uppercase;
				color: $color-1;

				cursor: pointer;
				font-family: inherit;
				font-weight: $font-weight-bold;
			}
		}
	}
}
