/**
    <div class="c-period-bar">
      <div class="project-field">
        <h4 class="c-title">{ Title }</h4>
        <ul class="data">{ Content }</ul> or <p class="data">{ Content }<p>
      </div>
    </div>
 */

.c-projects-fields {
  .project-field {
    .c-title {
      margin-bottom: 6px;
    }

    .data {
      margin: 0;

      & li {
        margin-bottom: 5px;
      }
    }
  }
}
