.c-project-form{
  margin: 40px 0;

  & .c-required{
    font-size: 12px;
    color: red;
    margin-top:0;
  }

  & h3.c-title{
    text-transform: none;
    color: #000;
    margin: 20px 0;
    font-size: 25px;
  }

  & h4.c-title{
    text-transform: none;
    color: #000;
    font-size: 12px;
  }

  /* Project Title input */
  & #title{
    margin: 80px 0 40px 0;

    & .c-title{

      &.-bigger.-bold{
        width: 100%;
        font-weight: bold;
        font-size: 65px;

        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color:#000;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color:#000;
           opacity:1;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
          color:#000;
          opacity:1;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color:#000;
        }

      }
    }
  }

  /* Project Title input */
  & #description{
    margin: 40px 0;

    & textarea{
      width: 100%;
      min-height: 140px;
      border: 1px solid #eee;
      border-radius: 0;
    }
  }

  /* Project Title input */
  & #project-website{

    & input {
      width: 100%;
    }

  }


  & .c-button-container{
    margin: 40px 0;

    & .c-button{
      min-width: 130px;
      padding: 20px;
      background-color: #68299b;
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;
      border-radius: 0;

      &.addnew{
        padding: 20px 60px;
        background-color: #fff;
        color: #68299b;
        border: 1px solid;
      }

    }

  }

}

.c-modal-investigator, .c-modal-organization{

  & label{
    margin: 10px 0 0 0;
  }

  & p.c-required{
    margin: 0;
    font-size: 12px;
    color: red;
  }

  & .c-button-container{
    margin: 40px 0;

    & .c-button{
      min-width: 130px;
      padding: 20px;
      background-color: #5aade4;
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;
      border-radius: 0;

      &.js-filter-form-cancel{
        color: #5aade4;
        background-color: #fff;
        border: 1px solid #5aade4;
      }

    }

  }

}

#investigatororganization{

  & .element{
    margin: 10px 0;
    border-bottom: 2px;
    border-bottom-style: dashed;
    border-color: #eeeeee;

    & .delete{
      color: #68299b;
      float: right;
      padding: 20px;
    }

    & .lead{
      margin: 20px;
    }

  }

}


#messages-list{
  color: red;

  & ul{
    list-style-type: disc;
  }

}
