/**
 *
 *  Preferred markup (for accessibility matter):
 *    <ul class="c-section-menu">
 *      <li class="item"><%= link_to (t '{ Item name }'), {path} %></li>
 *      <li class="item"><%= link_to (t '{ Item name }'), {path} %></li>
 *      <li class="item"><%= link_to (t '{ Item name }'), {path} %></li>
 *    </ul>
 *
 */

.c-section-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  margin: 0 0 0 $wrapper-mobile-padding;
  font-family: $font-family-1;
  font-weight: $font-weight-bold;
  font-size: $font-size-medium;


  @media #{$mq-mobile-large} {
    margin: 0 0 0 $wrapper-tablet-padding;
  }

  @media #{$mq-tablet} {
    margin: 0 0 0 $wrapper-padding;
  }


  font-size: $font-size-x-medium;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: $color-1;
    opacity: .7;
  }

  li {
    position: relative;
    z-index: 2;

    a {
      display: block;
      color: $color-3;
      padding: 12px 24px;

      &:hover, &.-active {
        box-shadow: inset 0 0 2px 0 lightgrey;
        color: $color-2;
        background-color: $color-3;
      }      
    }
  }
}
