
/**
 *
 *  <section class="c-section-index">
 *    <div class="wrapper">
 *      <input class="c-title -bigger search" id="js-search-list" placeholder="{ Content }" /><br/>
 *      <a href="#collection-list" class="c-button -filled -color-3">{ Content }</a>
 *
 *      <div id="collection-list">
 *        <h3 class="c-card-title -border-1 -color-5 -normal single-list-title">{ Content }</h3>
 *        <div class="list-grid">
 *          <div class="item">{ Content }</div>
 *          <div class="item">{ Content }</div>
 *        </div>
 *      </div>
 *    </div>
 *  </section>
 *
 *
 *  Card grid classes:
 *    - "-1-4": 1/4 of row's width
 *    - "-1-3": 1/3 of row's width
 *    - "-1-2": 1/2 of row's width - DEFAULT
 *    - "-2-3": 2/3 of row's width
 *    - "-3-4": 3/4 of row's width
 *    - "-1-1": 1/1 of row's width
 *
 **/



.c-section-index {
  padding-top: 10px;
  padding-bottom: 50px;

  @media #{$mq-tablet} {
    padding-top: 230px;
    padding-bottom: 100px;
  }

  .js-search-list {
    width: 100%;
    border: none;
    margin-bottom: 20px;
    font-size: $font-size-x-medium;
    font-weight: $font-weight-bold;
    outline: none;

    @media #{$mq-tablet} {
      margin-bottom: 60px;
      font-size: $font-size-huge;
    }

    &.c-title.-bigger { line-height: 75px; }

    &::-webkit-input-placeholder {
      color: $color-2;
      opacity: 1;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: $color-2;
      opacity: 1;
    }


    &:-ms-input-placeholder { /* IE 10+ */
      color: $color-2;
    }
  }

  .c-button {
    margin-bottom: 40px;

    @media #{$mq-tablet} {
      margin-bottom: 70px;
    }
  }

  .c-card-title {
    font-size: $font-size-x-medium;
    text-transform: capitalize;
    margin-bottom: 25px;
  }

  .list-grid {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    & .item {
      width: 50%;
      margin-bottom: 35px;

      & .item-link {
        color: $color-2;

        &:hover {
          opacity: .5;
        }
      }

      &:last-child {
        margin-bottom: 80px;
      }

      /* Default sizes */
      &.\-1-4 { width: 25%;    }
      &.\-1-3 { width: calc(100% / 3); }
      &.\-1-2 { width: 50%;    }
      &.\-2-3 { width: calc(2 / 3 * 100%); }
      &.\-3-4 { width: 75%;    }
      &.\-1-1 { width: 100%;    }

      /* Specific sizes relying on the screen size */
      $breakpoints: (
        "mobile-large": $mq-mobile-large,
        "tablet":       $mq-tablet,
        "laptop":       $mq-laptop
      );

      @each $breakpoint, $mq in $breakpoints {
        @media #{$mq} {
          &.\-#{$breakpoint}-1-4 { width: 25%;    }
          &.\-#{$breakpoint}-1-3 { width: calc(100% / 3); }
          &.\-#{$breakpoint}-1-2 { width: 50%;    }
          &.\-#{$breakpoint}-2-3 { width: calc(2 / 3 * 100%); }
          &.\-#{$breakpoint}-3-4 { width: 75%;    }
          &.\-#{$breakpoint}-1-1 { width: 100%;    }
        }
      }
    }
  }
}

