/**
 *
 *  Preferred markup (for accessibility matter):
 *
 *    <div class="c-section-intro">
 *      <div class="intro-info">
 *        <div class="info">
 *          { Content }
 *        </div>
 *        { c-buttons-group } // Optioinal
 *        { c-section-menu } // Optional
 *      </div>
 *    </div>
 *
 *  Color modifiers (for the text):
 *    - "-color-1": blue   ($color-1)
 *    - "-color-2": orange ($color-6)
 *    - "-color-3": purple ($color-4)
 *    - "-color-4": white  ($color-3)
 *    - "-color-5": dark   ($color-2) - DEFAULT, optional class
 *
 */

.c-section-intro {
  position: relative;

  &.-color-1 * { color: $color-1; }
  &.-color-2 * { color: $color-6; }
  &.-color-3 * { color: $color-4; }
  &.-color-4 * { color: $color-3; }

  .intro-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 60px; // In case there is not content
    color: $color-2;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 40px;
    align-items: center;

    @media screen and (min-width: 700px) {
      flex-flow: row;
      padding-top: 60px;
      padding-bottom: 55px;
    }

    .info {
      width: 100%;
      margin-bottom: 30px;
      padding-left: $wrapper-mobile-padding;
      padding-right: $wrapper-mobile-padding;


      @media #{$mq-mobile-large} {
        padding-left: $wrapper-tablet-padding;
        padding-right: $wrapper-tablet-padding;
      }

      @media screen and (min-width: 700px) {
        width: calc(100% / 2);;
      }

      @media #{$mq-tablet} {
        width: calc(100% * 2 / 3);
        margin-bottom: 0;
        padding-left: $wrapper-padding;
        padding-right: $wrapper-padding;
      }

      .c-title {
        margin: 0;
        margin-bottom: 30px;
      }
    }

    .c-buttons-group {
      @media #{$mq-tablet} {
        margin-top: 100px;
      }
    }

    > .c-section-menu {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}


