/**
 *
 *  <svg class="c-svg icon icon-{ name }">
 *    <use xlink:href="#icon-{ name }"></use>
 *  </svg>
 *
 *  Svg icon sizes classes:
 *    - "-big"
 *    - "-medium"
 *    - "-normal"
 *    - "-small" - DEFAULT, optional class
 *    - "-smaller"
 *
 *  Colors modifiers (for the text):
 *    - "-color-1": blue      ($color-1)
 *    - "-color-2": orange    ($color-6)
 *    - "-color-3": purple    ($color-4)
 */

.c-svg {
  width: 12px;
  height: 12px;
  fill: $color-1;

  &.-big {
    width: 34px;
    height: 34px;
  }

  &.-medium {
    width: 21px;
    height: 21px;
  }

  &.-normal {
    width: 14px;
    height: 14px;
  }

  &.-smaller {
    width: 5px;
    height: 5px;
  }

  // Colors
  &.-color-1 {
    fill: $color-1;
    &:hover { fill: lighten($color-1, 10%)}
  }

  &.-color-2 {
    fill: $color-6;
    &:hover { fill: lighten($color-6, 10%)}
  }

  &.-color-3 {
    fill: $color-4;
    &:hover { fill: lighten($color-4, 10%)}
  }
}



