
.c-tag {
  display: inline-block;
  padding: 2px 8px;
  background-color: $base-bg-color;
  font-weight: normal;

  //Margin
  &.-mg {
    margin-bottom: 3px;
  }

  &.-darker {
    background-color: rgba(170, 170, 170, .5);
  }
}
