.c-toolbar {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;

  .toolbar-item {
    color: $inverse-font-color;
    display: flex;
    align-items: center;
    font-weight: $bold-font-weight;

    .c-icon, svg {
      fill: $inverse-font-color;
    }

    &.-sortby {
      font-size: $small-font-size;
      text-transform: uppercase;
    }

    &.-highlighted {
      background-color: $app-bg-color;
    }
  }
}
