/**
 *
 *  <div class="c-tooltip">
 *    {content to hold the tooltip}
 *    {content}
 *  </div>
 *
 *  Modifiers:
 *    - "-opened":     open the tooltip (hidden by default)
 *    - "-tip-center": tip at the center - DEFAULT, optional class
 *    - "-tip-right":  tip at the right
 *    - "-tip-left":   tip at the left
 *
 */

.c-tooltip {
  position: absolute;
  width: 250px;
  padding: 20px;
  transform: translate(-50%, 0px);
  background: $color-3;
  box-shadow: $shadow-2;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: transform .3s, opacity .2s, visibility 0s .3s;

  &.-opened {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 20px);
    transition: transform .3s, opacity .2s, visibility 0s;
  }

  .tooltip-arrow {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width:  14px;
    height: 14px;
    background: $color-3;
    box-shadow: -1px -1px 0px rgba(0,0,0,0.1);
    z-index: -1;
  }

  &.-tip-left {
    transform: translate(0px, -10px);

    .tooltip-arrow {
      // 8px is (svg-width + svg-margin)/2
      transform: translate(calc(-50% + 8px), -50%) rotate(45deg);
    }

    &.-opened {
      transform: translate(0px, 0px);
    }
  }

  &.-tip-right {
    transform: translate(-100%, -10px);

    .tooltip-arrow {
      left: auto;
      // 8px is (svg-width + svg-margin)/2
      transform: translate(calc(50% + 8px), -50%) rotate(45deg);
    }

    &.-opened {
      transform: translate(-100%, 0px);
    }
  }

  &.-tip-left-top {
    transform: translate(246px, -38px);

    .tooltip-arrow {
      left: auto;
      transform: translate(-50px, 100%) rotate(45deg);
      box-shadow: -1px 1px 0px rgba(0,0,0,0.1);
    }
  }

  ul {
    li {
      margin: 5px 0 0;
      cursor: pointer;

      &:first-child {
        margin: 0;
      }

      &.-selected, &:hover {
        color: $color-1;
      }

      &:hover > .c-tooltip {
        visibility: visible;
        opacity: 1;
      }

      p {
        line-height: 1;
        padding: 0;
      }

      & li {
        color: $color-2;
      }
    }
  }
}
