.c-toolbar {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;

  background-color: $primary-color;

  padding: 0 15px;

  @media #{$mq-medium-map} {
    position: relative;
    background-color: transparent;
    justify-content: flex-end;
    padding: 0;

  }

  #download {
    display: none;

    @media #{$mq-medium-map} {
      display: inherit;
    }
  }

  .toolbar-item {
    color: $inverse-font-color;
    display: flex;
    align-items: center;
    font-weight: $bold-font-weight;
    white-space: nowrap;
    justify-content: center;

    .c-icon, svg {
      vertical-align: -2px;
      margin-right: 5px;
    }

    &.-sortby {
      font-size: $small-font-size;
      text-transform: uppercase;
    }

    &.-highlighted {
      @media #{$mq-medium-map} {
        background-color: $app-bg-color;
      }
    }

    &.-hidden {
      display: none;
    }

    &.options {
      display: inherit;

      @media #{$mq-medium-map} {
        display: none;
      }

      .c-btn {
        font-size: 25px;
        line-height: .5;
      }
    }
  }
}
