
.c-user-actions-mobile {
  position: absolute;
  top: 0;
  left: -100%;
  width: 0;
  height: 100vh;
  z-index: 4;
  background-color: $secondary-color;
  transition: all .2s $easeOutCubic;

  // & * { display: none; }

  &.-active {
    left: 0;
    width: 100%;

    // & * { display: inherit; }
  }

  nav {
    margin-bottom: $base-space;

    .back {
      .icon-arrow {
        transform: rotate(180deg);
      }
    }

    .label {
      display: inline-flex;
      align-items: center;
      color: $inverse-font-color;
      font-weight: bold;
      text-transform: uppercase;

      svg {
        margin-right: 10px;
      }
    }
  }

  ul {
    @extend %clearlist;

    width: 100%;

    li {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        width: 50%;
      }
    }
  }

}
