/**
 *
 *	<div class="c-user-profile-picture">
 *		<div class="initials"> {User's initials} </div>
 *		<img src="{Path}" alt="{User name}'s profile picture'" />
 *	</div>
 *
 * 	If the user didn't provide a profile picture, remove the the image tag from
 * 	the template. The initials will display instead.
 *
 * 	Available modifiers:
 * 		- "-small": make the profile picture smaller
 * 		- "-big": make the profile picture bigger
 * 		- "-huge": make the profile picture huge
 *
 */
.c-user-profile-picture {
  position: relative;
  width: 56px;
  height: 56px;
  /* In case the component is used inside a "flexed" container */
  flex-basis: 56px;
  background-color: $color-1;
  border-radius: 100%;

  &.-active {
    border: 3px solid $color-4;
  }

  > img {
    position: absolute;
    top:  0;
    left: 0;
    width:  100%;
    height: 100%;
    border-radius: 100%;
    /* The background is used to hide the initials when the image doesn't load
     * in order to let the alt text appear clearly */
    background-color: $color-1;
    text-align: center;
  }

  > .initials {
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: $font-size-medium;
    letter-spacing: -.7px;
    line-height: 56px;
    color: $color-3;
    cursor: pointer;
  }

  &.-small {
    width:  38px;
    height: 38px;
    flex-basis: 38px;

    > .initials {
      font-size: $font-size-normal;
      letter-spacing: 0;
      line-height: 38px;
    }
  }

  &.-big {
    width:  120px;
    height: 120px;
    flex-basis: 120px;

    > .initials {
      font-size: $font-size-huge;
      letter-spacing: -1.5px;
      line-height: 120px;
      color: rgba($color-3, .3);
    }
  }

  &.-huge {
    width:  150px;
    height: 150px;
    flex-basis: 150px;

    > .initials {
      font-size: $font-size-x-huge;
      letter-spacing: -1.5px;
      line-height: 150px;
      color: rgba($color-3, .3);
    }
  }


}
