.c-badge {
  position: absolute;
  top: 9px;
  right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid $inverse-font-color;

  background: $secondary-color;
  color: $inverse-font-color;
  font-size: 10px;

  &.-hidden {
    display: none;
  }

  &.-relative {
    position: relative;
    top: -2px;
    right: 0;
    display: inline-flex;
  }
}
