
.c-graph-investigator {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;

  svg.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
    font: 10px sans-serif;

    > g {
      width: 100% !important;
    }

    .link {
      fill: none;
      stroke: $secondary-color;
      stroke-width: 1px;
    }

    circle {
      fill: white;
      stroke: $secondary-color;

      &.dot {
        stroke-width: 2
      }
    }

    rect {
      fill: $secondary-color;
      stroke: $secondary-color;
    }

    .data-link {
      &:hover {
        fill: $secondary-color;
      }
    }

    .investigator {
      fill: $secondary-color;

      circle {
        fill: rgba(183, 95, 255, 0.80);

        &.dot { opacity: 1; }
      }
    }

    .projects {
      text {
        fill: $inverse-font-color;
      }

      & .data-link:hover {
        opacity: .6;
      }
    }

  }
}
