.c-title-btn {
  display: flex;
  margin-bottom: $box-space / 2;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  @media #{$mq-small} {
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
  }

  h1, h2, h3 {
    margin-bottom: 0;
  }

  .c-btn {
    @media #{$mq-small} {
      margin-left: $inline-space;
    }
  }

  & *:first-child {
    margin-left: 0;
  }
}
