<h1>New Investigator</h1>

<form action="#">

  {{!-- {{> network_projects/_form}} --}}

  <label for="organisation_website">
    Name of investigator:
    <input type="text" name="investigator_name" placeholder="Name of investigator">
  </label>

</form>


{{!--

  {"investigator": { "name": "Test investigator", "address_ids": ["#{address.id}"],
                                       "addresses_attributes": [
                                         {"country_id": "#{country.id}", "organization_attributes": {"name": "Test orga 1"} },
                                         {"country_id": "#{country.id}", "organization_attributes": {"name": "Test orga 2"} }
                                       ]
                   }}
 --}}
