<h1>New Investigator</h1>

<form action="#">

  {{!-- {{> network_projects/_form}} --}}

  <label for="website">
    Name of investigator:
    <input type="text" name="name" placeholder="Name of investigator">
  </label>

  <label for="email">
    Email of investigator:
    <input type="email" name="email" placeholder="Email of investigator">
  </label>

  <label for="email">
    Website of investigator:
    <input type="url" name="website" placeholder="http://example.org/">
  </label>

  <label for="name_org">
    name of organization:
    <input type="url" name="name_org" placeholder="http://example.org/">
  </label>

  <button type="submit">Save</button>

</form>


{{!--

  {"investigator": { "name": "Test investigator", "address_ids": ["#{address.id}"],
                                       "addresses_attributes": [
                                         {"country_id": "#{country.id}", "organization_attributes": {"name": "Test orga 1"} },
                                         {"country_id": "#{country.id}", "organization_attributes": {"name": "Test orga 2"} }
                                       ]
                   }}
 --}}

{{!-- {"investigator": { "name": "Test investigator", "email": "testuser@sample.com", "website": "http://www.testwebsite.com", "address_ids": ["#{address.id}"],
                                       "addresses_attributes": [
                                         {"country_id": "#{country.id}",
                                          "city": "",
                                          "latitude": "",
                                          "longitude": "",
                                          "line_1": "",
                                          "line_2": "",
                                          "line_3": "",
                                          "postcode": "",
                                          "primary": "",
                                          "state": "",
                                          "state_code": "",
                                          "geonames_city_id": "",
                                          "organization_attributes": {"name": "Test orga 1",
                                                                      "acronym": "",
                                                                      "grid_id": "",
                                                                      "email_address": "",
                                                                      "established": "",
                                                                      "organization_type_id": ""}},
                                         {"country_id": "#{country.id}", "organization_attributes": {"name": "Test orga 2"}}
                                       ]
                   }} --}}
