<ul>
  {{#each data}}
    <li>
        <span class="rhombus -last"></span>
        <span class="arrow-tail"></span>
      <a href="{{link}}"
        class="js-breadcrumb"
        {{#if value}}data-value="{{value}}"{{/if}}
      > <span class="globe-icon"><svg><use xlink:href="#icon-globe"</svg></span>
        {{name}}</a>
        <span class="rhombus"></span>

    </li>
  {{/each}}
</ul>
