<div class="column small-12 medium-4">
  <div class="c-card -ranking">
    <div id="{{id}}" class="c-ranking">
      <div class="c-spinner -start">
        <div class="spinner-box">
          <div class="icon"></div>
        </div>
      </div>
    </div>
  </div>
</div>
