{{#if groups}}
  {{#each groups as |countries region|}}
    <div class="l-content">
      <div class="wrapper">
        <div class="row collapse">
          <div class="column small-12">
            <h2 class="-underlined">{{region}}</h2>
            <ul class="c-list row">
              {{#each countries as |country|}}
                <li class="column small-6 medium-3">
                  <a class="list-item" href="/countries/{{country.country_iso_3}}">{{country.name}}</a>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
{{else}}
  <div class="l-content">
    <div class="wrapper">
      <div class="row collapse">
        <div class="column small-12">
          <p>No results.</p>
        </div>
      </div>
    </div>
  </div>
{{/if}}
