<div class="c-dropdown -sortby">
  <div class="dropdown-value">current value</div>
  <div class="dropdown-content">
    <div class="dropdown-item">
      <a>Hello</a>
    </div>
    <div class="dropdown-item">
      <a>Hello</a>
    </div>
    <div class="dropdown-item">
      <a>Hello</a>
    </div>
  </div>
</div>
