<form action="#">
  <div class="row">
    <div class="column small-12">
      <h2>Filters</h2>
    </div>
  </div>
  <div class="row">
    <div class="column small-12 medium-6">
      {{{countries}}}
    </div>
    <div class="column small-12 medium-6">
      {{{organisationsTypes}}}
    </div>
  </div>
  <div class="row">
    <div class="column small-12 medium-6">
      <div id="cancer-types"></div>
    </div>
    <div class="column small-12 medium-6">
      {{{organisations}}}
    </div>
  </div>
  <div class="row">
    <div class="column small-12 medium-6">
      <div id="project-types"></div>
    </div>
    <div class="column small-12 medium-6">
      {{{foundingSources}}}
    </div>
  </div>
  <div class="row">
    <div class="column small-12">
      <button type="button" class="js-filter-form-cancel">Cancel</button>
      <button type="submit" class="js-filter-form-submit">Apply</button>
    </div>
  </div>
</form>
