<form class="c-grid" action="#">

  <div class="form-row">
    <div class="row">
      <div class="column small-12">
        <h2 class="c-title">Filters</h2>
      </div>
    </div>
  </div>

  <div class="form-row">
  <div class="row">
    <div class="column small-12 medium-6">
      <div id="regions" class="c-select"></div>
    </div>
    <div class="column small-12 medium-6">
      <div id="countries" class="c-select"></div>
    </div>
  </div>
  </div>

  <div class="form-row -projects">
    <div class="row">
      <div class="column small-12 medium-6">
        <div id="organization-types" class="c-select"></div>
      </div>
      <div class="column small-12 medium-6">
        <div id="cancer-types" class="c-select"></div>
      </div>
    </div>
  </div>

  <div class="form-row -projects">
    <div class="row">
      <div class="column small-12 medium-6">
        <div id="organizations" class="c-select"></div>
      </div>
      <div class="column small-12 medium-6">
        <div id="project-types" class="c-select"></div>
      </div>
    </div>
  </div>

  <div class="form-row -projects">
    <div class="row">
      <div class="column small-12 medium-6">
        <div id="funding-sources" class="c-select"></div>
      </div>
      <div class="column small-12 medium-6">
        <div id="specialities" class="c-select"></div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="row">
      <div class="column small-12 medium-6">
        <div id="pickadate-start" class="c-pickadate"></div>
      </div>
      <div class="column small-12 medium-6">
        <div id="pickadate-end" class="c-pickadate"></div>
      </div>
    </div>
  </div>

  <div class="form-actions modal-buttons">
    <div class="row">
      <div class="column small-12 align-center">
        <button type="button" class="c-btn -primary -inverse js-filter-form-cancel">Cancel</button>
        <button type="submit" class="c-btn -primary js-filter-form-submit">Apply</button>
        <button type="button" class="c-btn -primary js-filter-form-reset">Reset</button>
      </div>
    </div>
  </div>

</form>
