<div class="c-graph-legend">
  <div class="current">
    <span class="circle">
      <span class="dot"></span>
    </span>
    <span>{{current}}</span>
  </div>

  <div class="rects">
    <span class="rect"></span>
    <span>{{rects}}</span>
  </div>

  <div class="others">
    <span class="circle">
      <span class="dot"></span>
    </span>
    <span>{{others}}</span>
  </div>
</div>
