<div class="graph-header">
  <h2>
    <button type="button" name="button" class="c-btn -secondary -icon js-btn-info">
      <svg class="c-icon -small -inverse"><use xlink:href="#icon-info"></use></svg>
    </button>
    {{this.info.name}}
  </h2>
  <!-- <div class="legend">
    <ul>
      <li class="text -graph-legend -current"><span></span> Current practices</li>
      <li class="text -graph-legend -future"><span></span> Potential future</li>
    </ul>
  </div> -->
</div>
<div id="graph-box" class="c-graph -{{type}}"></div>
