<form class="c-grid" action="#">
  <div class="row">
    <div class="column small-12">
      <h2 class="c-title">New Investigator</h2>
    </div>
  </div>

  <div class="row">
    <div class="column small-12">
      <div id="investigatorname" class="c-select"></div>
    </div>
  </div>

  <div class="row">
    <div class="column small-12">
      <div id="investigatoremail" class="c-select"></div>
    </div>
  </div>

  <div class="row">
    <div class="column small-12">
      <div id="investigatorwebsite" class="c-select"></div>
    </div>
  </div>

  <div class="row">
    <div class="column small-12">
      <div class="c-button-container -j-center -a-center">
        <button type="button" class="c-button -filled -inverse js-filter-form-cancel">Cancel</button>
        <button type="submit" class="c-button -filled js-filter-form-submit">Apply</button>
      </div>
    </div>
  </div>
</form>
