<div class="c-layers">
  <div class="layers-item">
    <div class="switch round">
      <input type="checkbox">
    </div>
    human development index
    <button class="c-btn -round-icon -primary">
      <svg class="c-icon">
        <use xlink:href="#icon-info"></use>
      </svg>
    </button>
  </div>
</div>
