{{#each data}}
    <div class="column small-4">
      <span class="legend">
        {{#if blueCircle}}<span class="circle-icon -blue"></span>{{/if}}
        {{#if blueSquare}}<span class="square-icon -blue"></span>{{/if}}
        {{#if whiteSquare}}<span class="square-icon -white"></span>{{/if}}
        {{#if orangeSquare}} <span class="square-icon -orange"></span>{{/if}}
        {{#if orangeCircle}} <span class="circle-icon -orange"></span>{{/if}}
        {{description}}
      </span>
        <div class="number">{{number}}</div>
    </div>
{{/each}}
