<ul>
{{#each data}}
<li>
  {{#if blueCircle}}<span class="circle-icon -blue"></span>{{/if}}
  {{#if purpleCircle}}<span class="circle-icon -purple"></span>{{/if}}
  {{#if orangeCircle}}<span class="circle-icon -orange"></span>{{/if}}
  {{#if blueMarker}}<svg class="marker-icon -blue"><use xlink:href="#icon-marker"></use></svg>{{/if}}
  {{#if orangeMarker}}<svg class="marker-icon -orange"><use xlink:href="#icon-marker"></use></svg>{{/if}}
  {{description}} </li>
{{/each}}
</ul>
