<h2 class="modal-title">Share</h2>
<div class="content active" id="share-link">
  <p>Copy the link below to share it</p>
  <div class="link-box">
    <input id="url" class="url" value="{{link}}" />
    <button class="c-button btn-copy">Copy</button>
  </div>
  <div class="copy-alert hide">
    {{!-- <p>Now press &#8984; + C or Ctrl + C to copy</p> --}}
    <p class="paste-massage"></p>
  </div>
</div>

<div class="l-footer">
  <div class="container">
    <ul class="medias">
      <li class="-notext -twitter">
        <a data-event="Twitter" href="https://twitter.com/share?url={{link}}&text=I would like to share this GCPM map with you" target="_blank" rel="noreferrer" title="Twitter">Twitter</a>
      </li>
      <li class="-notext -facebook"><a data-event="Facebook" href="https://www.facebook.com/sharer.php?u={{link}}" target="_blank" rel="noreferrer" title="Facebook">Facebook</a></li>
    </ul>
  </div>
</div>

