{{!-- BACKDROP --}}
<div class="modal-backdrop js-btn-modal-close"></div>
{{!-- WINDOW --}}
<div class="modal-window">
  {{!-- Modal close button --}}
  <button href="#" class="modal-close js-btn-modal-close">
    <svg><use xlink:href="#shape-close"></use></svg>
  </button>
  
  {{!-- Modal wrapper button --}}
  <div class="modal-wrapper {{#if hasFooter}}-has-footer{{/if}}">
    <div class="modal-content">
      <form action="">
        <h2 class='modal-title'>Filters</h2>
        <div class='c-map-filters'>

        </div>
      </form>
    </div>

    {{#if hasFooter}}
      <div class="modal-footer">
      </div>
    {{/if}}
  </div>
</div>
