<div class="row">
  <div class="column small-12">
    {{#if messages}}
      <h4>Errors</h4>
      <ul class="c-list">
        {{#each messages as |message|}}
          <li class="">
            <span>{{message}}</span>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
</div>
