<div class="modal-container">
  <div class="modal-content">
    <button class="modal-close js-btn-modal-close">
      <svg><use xlink:href="#icon-close"></use></svg>
    </button>
    <div class="modal-wrapper">{{{content}}}</div>
  </div>
</div>
<div class="modal-backdrop js-modal-backdrop"></div>
