<div class="modal-container">
  <button class="modal-close js-btn-modal-close">
    <svg class="c-svg -color-1 -normal"><use xlink:href="#icon-close"></use></svg>
  </button>

  <div id="modal-loader" class="c-spinner">
    <div class="spinner-box">
      <div class="icon"></div>
    </div>
  </div>

  <div class="modal-content">
    {{{content}}}
  </div>
</div>
<div class="modal-backdrop js-modal-backdrop"></div>
