<form class="c-grid c-modal-organization" action="#">

  <div class="row">
    <div class="column small-12">
      <h2 class="c-title">New Organization</h2>
    </div>
  </div>

  <div class="row">
    <div class="column small-12 medium-6">
      <div id="organizationname" class="c-select"></div>
    </div>
    <div class="column small-12 medium-6">
      <div id="organizationtype" class="c-select"></div>
    </div>
  </div>

  <div class="row">
    <div class="column small-12 medium-6">
      <div id="organizationcountry" class="c-select"></div>
    </div>
    <div class="column small-12 medium-6">
      <div id="organizationcity" class="c-select"></div>
    </div>
  </div>

  <div class="row">
    <div id="organizationlatitude" class="c-input"></div>
    <div id="organizationlongitude" class="c-input"></div>

    <div class="column small-12">
      <label>Organization location</label>
      <div id="map" class="c-map -relative -target"></div>
    </div>
  </div>

  <div class="row">
    <div class="column small-12">
      <div class="c-button-container -j-center -a-center">
        <button type="button" class="c-button -filled -inverse js-filter-form-cancel">Cancel</button>
        <button type="submit" class="c-button -filled js-filter-form-submit">Apply</button>
      </div>
    </div>
  </div>

</form>
