<form class="c-grid c-modal-organization" action="#">

  <div class="row">
    <div class="column small-12">
      <h2 class="c-title">New Organization</h2>
    </div>
  </div>

  <div class="row">
    <div class="column small-12 medium-6">
      <div id="organizationname" class="c-select"></div>
    </div>
    <div class="column small-12 medium-6">
      <div id="organizationtype" class="c-select"></div>
    </div>
  </div>

  <div class="row">
    <div class="column small-12 medium-6">
      <div id="organizationcountry" class="c-select"></div>
    </div>
    <div class="column small-12 medium-6">
      <div id="organizationcity" class="c-select"></div>
    </div>
  </div>

  <div class="row">
    <div id="organizationlatitude" class="c-input"></div>
    <div id="organizationlongitude" class="c-input"></div>

    <div class="column small-12">
      <label>Organization location</label>
      <p class="c-required">* Field required</p>
      <p id="latLngError" style="margin: 2px 0 10px 7px; font-size: 12px;">Select a location for your organization by entering an address in the search box or by dragging the map. The marker in the center indicates where your organization will be placed.</p>
      <div class="c-map-container">
        <div id="map-search" class="c-map-search">
          <input type="text" id="map-search-input">
        </div>
        <div id="map" class="c-map -relative -target"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column small-12">
      <div class="c-button-container -j-center -a-center">
        <button type="button" class="c-button -filled -inverse js-filter-form-cancel">Cancel</button>
        <button type="submit" class="c-button -filled js-filter-form-submit">Apply</button>
      </div>
    </div>
  </div>

</form>
