<div class="c-grid">
  <div class="form-row">
    <h3>Relations</h3>
  </div>
  <div class="form-row">
    <div class="row">
      <div class="column small-12 medium-6">
        <div id="countries" class="c-select"></div>
      </div>
      <div class="column small-12 medium-6">
        <div id="projects" class="c-select"></div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="row">
      <div class="column small-12 medium-6">
        <div id="organizations" class="c-autocomplete"></div>
      </div>
      <div class="column small-12 medium-6">
        <div id="cancer-types" class="c-select"></div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="row">
      <div class="column small-12 medium-6">
        <div id="specialities" class="c-select"></div>
      </div>
    </div>
  </div>
</div>
