<div class="wrapper">
  <div class="container">
    <form class="c-grid" action="#">

      <div class="row">
        <div class="column small-12">
          <div id="title"></div>
        </div>
      </div>

      <div class="row">
        <div class="column small-12">
          <h3 class="c-title">Description</h3>
          <div id="description"></div>
        </div>
      </div>

      <div class="row">
        <div class="column small-12 medium-6">
          <div class="c-pickadate">
            <h3 class="c-title">Start date</h3>
            <div class="start-date"></div>
            <div id="pickadate-start" class="pickadate-container" autofocus></div>
          </div>
        </div>
        <div class="column small-12 medium-6">
          <div class="c-pickadate">
            <h3 class="c-title">End date</h3>
            <div class="end-date"></div>
            <div id="pickadate-end" class="pickadate-container" autofocus></div>
          </div>
        </div>
      </div>

      <h3 class="c-title">Project Information</h3>
      <div class="row">
        <div class="column small-12 medium-6">
          <h4 class="c-title">Project Website</h4>
          <div id="project-website" class="c-select"></div>
        </div>
        <div class="column small-12 medium-6">
          <h4 class="c-title">Project Type</h4>
          <div id="project-types" class="c-select"></div>
        </div>
      </div>
      <div class="row">
        <div class="column small-12 medium-6">
          <h4 class="c-title">Cancer Type</h4>
          <div id="cancer-types" class="c-select"></div>
        </div>
        <div class="column small-12 medium-6">
          <h4 class="c-title">Funding Source</h4>
          <div id="funding-sources" class="c-select"></div>
        </div>
      </div>
      <div class="row">
        <div class="column small-12 medium-6">
          <h4 class="c-title">Specialities</h4>
          <div id="specialities" class="c-select"></div>
        </div>
      </div>

      <div id="investigatororganizationedit"></div>

      <div id="investigatororganization"></div>
      <div class="row">
        <div class="column small-12">
          <div class="c-button-container -j-center -a-center">
            <a href="javascript:void(0);" class="c-button -filled addnew">Add more</a>
          </div>
        </div>
      </div>

      <h3 class="c-title">User Acknowledgement</h3>
      <div class="row">
        <div class="column small-12">
          <p>Submitted information will be verified by the GO Map team to ensure data quality, and may be standardized and/or formatted for consistency before it is published. Checking this box acknowledges that you agree to share this information for public display on the GO Map.</p>
          <div id="policy" class="c-select"></div>
        </div>
      </div>

      <div class="row">
        <div class="column small-12">
          <div class="c-button-container -j-center -a-center">
            <button type="submit" class="c-button -filled js-filter-form-submit">Submit</button>
          </div>
        </div>
      </div>

      <div id="messages-list"></div>

    </form>
  </div>
</div>
