<ul class="c-toolbar">
  <li id="sortby" class="toolbar-item -sortby"></li>

  <li class="toolbar-item -highlighted">
    <button class="c-btn -action js-toolbar-action" data-action="filter">
      <svg class="c-icon -small -inverse">
        <use xlink:href="#icon-filter"></use>
      </svg>
      Filter
      <span class="notification-bubble js-notification-bubble"></span>
    </button>
  </li>
  <li id="moreTools" class="toolbar-item more js-more-tools">
    <svg class="c-icon -small -inverse -hidden icon-close">
      <use xlink:href="#icon-close"></use>
    </svg>

    <svg class="c-icon -small -inverse icon-plus">
      <use xlink:href="#icon-plus"></use>
    </svg>
  </li>

</ul>
