<ul class="c-toolbar">
  <li id="download"class="toolbar-item -sortby">
    <button class="c-btn js-toolbar-action" data-action="download">
      <svg class="c-icon -small -inverse">
        <use xlink:href="#icon-download"></use>
      </svg>
      Download
    </button>
  </li>

  <li id="sortby"class="toolbar-item -sortby"></li>

  <li class="toolbar-item -highlighted">
    <button class="c-btn js-toolbar-action" data-action="filter">
      <svg class="c-icon -small -inverse">
        <use xlink:href="#icon-filter"></use>
      </svg>
      Filter
      <span class="notification-bubble js-notification-bubble"></span>
    </button>
  </li>
</ul>
