<ul class="c-toolbar">
  <li id="sortby"class="toolbar-item -sortby"></li>

  <li class="toolbar-item -highlighted">
    <button class="c-btn js-toolbar-action" data-action="filter">
      <svg class="c-icon -small">
        <use xlink:href="#icon-filter"></use>
      </svg>
      Filter
    </button>
  </li>
</ul>
