
<ul class="c-list -row-items">
  {{#each items as |item|}}
    <li class="list-item">
      <a href="/network/{{item.id}}">
        <div class="c-avatar -small -ph">
          <img src="{{item.photo}}">
        </div>
        <span>{{item.name}}</span>
      </a>
    </li>
  {{/each}}
</ul>
