<div class="c-section-intro">
  <%= form.input :title, label: "#{@event.title}", label_html: { class: 'c-title -bigger -bold -hide-edited' }, :required => false, input_html: { class: '-editable', value: "#{@event.title}"}  %>
</div>
<div class="c-section-container">
  <div class="c-section-half -left">
    <h3 class="c-section-title">Description</h3>
    <%= form.input :description, label: "#{@event.description}", label_html: { class: '-hide-edited' }, :required => false, input_html: {value: "#{@event.description}", class: '-editable', rows: '40'} %>
  </div>
</div>

<div class="c-section-container -staff">
  <div class="c-staff -row">
    <span class="c-section-title">terms</span>
  </div>
  <div class="c-staff -row">
    Submitted information will be verified by the GCPM team to ensure data quality, and may be standardized and/or formatted for consistency before it is published. Checking this box acknowledges that you agree to share this information for public display on the Global Cancer Project Map.
  </div>
  <div class="c-staff -row">
    <input type="checkbox" required class="f-accept-terms"> I accept these terms
  </div>
</div>
