<div class="c-project-form">
  <div class="wrapper">
    <!-- <h1>New Event</h1> -->
    <!-- <div class="row"> -->
      <!-- <div class="column small-12"> -->
        <%= render 'form', event: @event %>
            </div>
          </div>
    <!--   </div>
    </div> -->
  </div>
</div>
