html {
  font-size: 100%;
  background-color: rgba($base-bg-color, .1);
}

body {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;

  font-family: $base-font-family;
  font-size: rem($base-font-size);
  font-weight: $base-font-weight;
  color: $base-font-color;
  line-height: $base-line-height;

  background-color: $body-bg-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);

  &.-modal-open {
    overflow: hidden;
  }
}

h1, h2, h3, p {
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

h1, h2 {
  margin-top: $inline-space * 2;
}

h1, h2, h3 {
  margin-bottom: $inline-space;
}

h1 {
  font-size: $h1-font-size;
  line-height: 1.12;
}

h2 {
  font-size: $h2-font-size;
  line-height: 1.44;
}

h3 {
  font-size: $h3-font-size;
  text-transform: uppercase;
}

a {
  color: $base-font-color;
  text-decoration: none;
}

p {
  margin-top: $inline-space;
  margin-bottom: $inline-space;

  a:hover {
    text-decoration: underline;
  }
}

a, button {
  &[disabled] {
    display: inline-block;
    cursor: not-allowed;
    opacity: .3;
  }
  &:focus {
    outline: 0;
  }
}

p > a {
  color: $primary-color;
}

ul {
  padding-left: $base-space;
}
