.c-icon {
  cursor: pointer;

  &.-smaller {
    width: 10px;
    height: 10px;
  }

  &.-small {
    width: 15px;
    height: 15px;
  }

  &.-medium {
    width: 20px;
    height: 20px;
  }

  &:hover {
    &.-hov-1 { fill: $color-1; }
    &.-hov-opc { opacity: .5; }
  }

}
