/* Layout */
$max-width: 1400px;

/* Font */
$base-font-family: "Montserrat", Arial, sans-serif;
$base-font-size: 15px;
$base-font-weight: lighter;
$base-line-height: 1.6;

$h1-font-size: 40px;
$h2-font-size: 25px;
$h3-font-size: 12px;

$small-font-size: 12px;
$medium-font-size: 20px;
$big-font-size: 30px;
$large-font-size: 65px;

$bold-font-weight: bold;

/* Colors */
$dark-slate-blue: #0f3046;
$light-blue: #66b8eb;
$dark-sky-blue: #5aade4;
$purple: #68299b;
$black: #000;

/* Theme */
$base-font-color: $dark-slate-blue;
$base-bg-color: #e5e5e5;
$body-bg-color: white;

$inverse-font-color: white;

$primary-color: $dark-sky-blue;
$secondary-color: $purple;
$alternative-color: #f57823;

$app-bg-color: $light-blue;
$overlay-bg-color: rgba($black, .3);

$border-color-1: #e5e5e5;

$base-space: 23px;
$box-space: 60px;
$inline-space: 18px;

$button-x-padding: 23px;
$button-y-padding: 18px;

// /* General layout */
// $body-max-width:         1404px;

// /* Font families */
// $font-family-1: "Montserrat", sans-serif;

// /* Font sizes */
// $font-size-tiny:     11px;
// $font-size-x-small:  12px;
// $font-size-small:    13px;
// $font-size-normal:   15px;
// $font-size-medium:   20px;
// $font-size-x-medium: 27px;
// $font-size-big:      30px;
// $font-size-x-big:    55px;
// $font-size-huge:     65px;
// $font-size-x-huge:   78px;

// /* Font weights */
// $font-weight-light:  300;
// $font-weight-normal: 400;
// $font-weight-bold:   700;

// /* Colors */
// $color-1:  #5aade4; // blue
// $color-2:  #0f3046; // dark
// $color-3:  #fff;    // white
// $color-4:  #68299b; // purple
// $color-5:  #fbfbfb; // bone-white
// $color-6:  #f57823; // orange
// $color-7:  #000;    // black
// $color-8:  #deeffa; // lightblue

// /* Shadows */
// $shadow-1: 0 7px 10px rgba(0, 0, 0, 0.1);
// $shadow-2: 0 0px 5px rgba(0, 0, 0, 0.15);

// /* Breakpoints */
// $breakpoint-mobile-small:  320px;
// $breakpoint-mobile-large:  425px;
// $breakpoint-tablet:        768px;
// $breakpoint-laptop:       1024px;

// $breakpoint-small:        40em;
// $breakpoint-medium:   40.063em;
// $breakpoint-large:    64.063em;
// $breakpoint-xLarge:   90.063em;
// $breakpoint-xxLarge: 120.063em;

// /* Media queries */
// $mq-mobile-small: "screen and (min-width: #{$breakpoint-mobile-small})";
// $mq-mobile-large: "screen and (min-width: #{$breakpoint-mobile-large})";
// $mq-tablet:       "screen and (min-width: #{$breakpoint-tablet})";
// $mq-laptop:       "screen and (min-width: #{$breakpoint-laptop})";

// $mq-small:   "screen and (min-width: #{$breakpoint-small})";
// $mq-medium:  "screen and (min-width: #{$breakpoint-medium})";
// $mq-large:   "screen and (min-width: #{$breakpoint-large})";
// $mq-xLarge:  "screen and (min-width: #{$breakpoint-xLarge})";
// $mq-xxLarge: "screen and (min-width: #{$breakpoint-xxLarge})";

// $mq-body-width: "screen and (min-width: #{$body-max-width})";

// /* Eases */
// $easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
// $easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
// $easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);

// $easeInSine: cubic-bezier(0.470, 0.000, 0.745, 0.715);
// $easeOutSine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
// $easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);
