/* Layout */
$max-width: 1400px;
$modal-max-width: 800px;
$modal-tiny-max-width: 550px;

/* Font */
$base-font-family: "Montserrat", Arial, sans-serif;
$base-font-family-light: "Montserrat-light", Arial, sans-serif;
$base-font-family-normal: "Montserrat-normal", Arial, sans-serif;
$base-font-size: 14px;
$base-font-weight: lighter;
$base-line-height: 1.6;

$h1-font-size: 40px;
$h2-font-size: 25px;
$h3-font-size: 12px;

$small-font-size: 12px;
$medium-font-size: 20px;
$big-font-size: 30px;
$large-font-size: 65px;

$bold-font-weight: bold;

/* Colors */
$dark-slate-blue: #0f3046;
$light-blue: #66b8eb;
$dark-sky-blue: #5aade4;
$purple: #68299b;
$black: #000;

/* Theme */
$base-font-color: $dark-slate-blue;
$base-bg-color: #e5e5e5;
$body-bg-color: white;

$inverse-font-color: white;

$primary-color: $dark-sky-blue;
$secondary-color: $purple;
$alternative-color: #f57823;

$app-bg-color: $light-blue;
$overlay-bg-color: rgba($black, .3);

$border-color-1: #e5e5e5;

$box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
$box-shadow-2: 0 7px 15px 0 rgba(0, 0, 0, 0.2);

$base-space: 23px;
$box-space: 60px;
$small-box-space: 15px;
$inline-space: 18px;

$button-x-padding: 23px;
$button-y-padding: 18px;

/* Eases */
$easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);

$easeInSine: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);

// /* General layout */
// /* Breakpoints */
$breakpoint-small:        40em;
// $breakpoint-medium:   40.063em;

// /* Media queries */
$mq-small:   "screen and (min-width: #{$breakpoint-small})";
// $mq-medium:  "screen and (min-width: #{$breakpoint-medium})";
