/* General layout */
$body-max-width:         1404px;
$wrapper-padding:          50px;
$wrapper-tablet-padding:   30px;
$wrapper-mobile-padding:   15px;

/* Font families */
$font-family-1: "Montserrat", sans-serif;

/* Font sizes */
$font-size-tiny:     11px;
$font-size-x-small:  12px;
$font-size-small:    13px;
$font-size-normal:   15px;
$font-size-medium:   20px;
$font-size-x-medium: 27px;
$font-size-big:      30px;
$font-size-x-big:    55px;
$font-size-huge:     65px;
$font-size-x-huge:   78px;

/* Font weights */
$font-weight-light:  300;
$font-weight-normal: 400;
$font-weight-bold:   700;

/* Colors */
$color-1:  #5aade4; // blue
$color-2:  #0f3046; // black
$color-3:  #fff;    // white
$color-4:  #68299b; // purple
$color-5:  #fbfbfb; // bone-white
$color-6:  #f57823; // orange
$color-7: #000;

/* Shadows */
$shadow-1: 0 7px 10px rgba(0, 0, 0, 0.1);
$shadow-2: 0 0px 5px rgba(0, 0, 0, 0.15);

/* Breakpoints */
$breakpoint-mobile-small:  320px;
$breakpoint-mobile-large:  425px;
$breakpoint-tablet:        768px;
$breakpoint-laptop:       1024px;

/* Media queries */
$mq-mobile-small: "screen and (min-width: #{$breakpoint-mobile-small})";
$mq-mobile-large: "screen and (min-width: #{$breakpoint-mobile-large})";
$mq-tablet:       "screen and (min-width: #{$breakpoint-tablet})";
$mq-laptop:       "screen and (min-width: #{$breakpoint-laptop})";

$mq-body-width: "screen and (min-width: #{$body-max-width})";

/* Eases */
$easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);

$easeInSine: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);
