<label for="pickadate-end-input">End date</label>
<input type="text" name="end_date" id="pickadate-end-input" class="pickadate-input" value="{{end_date}}">
<div id="pickadate-end-container" class="pickadate-container"></div>
