<div class="c-counters">
  <div class="row">
    <div class="column small-4">
      <h3 class="-<%= @current_type %>">
        <%= t @current_type %>
      </h3>
      <span class="amount"><%= @items_total %></span>
    </div>
    <div class="column small-4">
      <h3>Project leads</h3>
      <span class="amount">0</span>
    </div>
    <div class="column small-4">
      <h3>Collaborators</h3>
      <span class="amount">0</span>
    </div>
  </div>
</div>
