<div id="map-layers" class="c-tooltip -tip-left">
	<span class="tooltip-arrow"></span>
	<ul>
		<li class="btn-map-layer -selected" data-layer="none">
		  <p><span></span> No layer selected</p>
		</li>
		<li class="btn-map-layer" data-layer="hdi">
		  <p><span></span> Human Development Index</p>
		  <!-- <span class="info-icon"></span> -->
		</li>
		<li class="btn-map-layer" data-layer="incidence">
		  <p><span></span> Incidence, ASR all years Globocan</p>
		  <!-- <span class="info-icon"></span> -->
		</li>
		<li class="btn-map-layer" data-layer="mortality">
		  <p><span></span> Mortality, ASR all years Globocan</p>
		  <!-- <span class="info-icon"></span> -->
		</li>
		<li class="btn-map-layer" data-layer="proportion">
		  <p><span></span> Prevalence, 1-year adults only, Globocan</p>
		  <!-- <span class="info-icon"></span> -->
		</li>
		<li class="btn-map-layer" data-layer="context">
		  <p><span></span> Disability-Adjusted Life Year</p>
		  <!-- <span class="info-icon"></span> -->
		</li>
	</ul>
</div>


<div id="map-sortby" class="c-tooltip -tip-right">
	<span class="tooltip-arrow"></span>
	<ul>
		<li class="btn-map-sortby -selected" data-sortby="created asc">
		  <p><span></span>Created date Ascendent</p>
		</li>
		<li class="btn-map-sortby" data-sortby="created desc">
		  <p><span></span>Created date Descendent</p>
		</li>
    <li class="btn-map-sortby" data-sortby="title asc">
      <p><span></span>Title Ascendent</p>
    </li>
    <li class="btn-map-sortby" data-sortby="title desc">
      <p><span></span>Title Descendent</p>
    </li>
	</ul>
</div>
