<div id="map-menu" class="c-map-menu wrapper">
  <ul class="list">
    <li>
      <button class="item btn-mapmenu-action -color-1" data-action="Layers/toggle">      
        <svg class="c-svg">
          <use xlink:href="#icon-"></use>
        </svg>
        Layers
      </button>
    </li>

    <li>
      <a href="#" class="item btn-mapmenu-action -color-1" data-action="Event/toggle">
        <svg class="c-svg">
          <use xlink:href="#icon-"></use>
        </svg>
        Add event
      </a>
    </li>

    <li>
      <a href="#" class="item btn-mapmenu-action -color-1" data-action="Save/toggle">
        <svg class="c-svg">
          <use xlink:href="#icon-"></use>
        </svg>
        Save map
      </a>
    </li>
  </ul>

  <ul class="list">
    <li>
      <a href="#" class="item btn-mapmenu-action -color-1" data-action="Download/toggle">
        <svg class="c-svg">
          <use xlink:href="#icon-"></use>
        </svg>
        Download
      </a>
    </li>

    <li>
      <button href="#" class="item btn-mapmenu-action -color-1" data-action="Sortby/toggle">
        <svg class="c-svg">
          <use xlink:href="#icon-"></use>
        </svg>
        Sort by
      </button>
    </li>

    <li>
      <button href="#" class="item btn-mapmenu-action -color-1" data-action="Filters/toggle">      
        <svg class="c-svg">
          <use xlink:href="#icon-"></use>
        </svg>
        Filter
      </button>
    </li>
  </ul>
</div>
