
<div id="map-share" class="c-modal">
  <!-- WINDOW -->
  <div class="modal-window">
    <!-- Modal close button -->
    <button href="#" class="modal-close js-btn-modal-close">
      <svg class="c-svg -normal"><use xlink:href="#icon-close"></use></svg>
    </button>

    <!-- Modal wrapper button -->
    <div class="modal-wrapper">
      <div class="modal-content"></div>
    </div>
  </div>
</div>


















