<div class="c-section-intro">
  <div class="c-map-breadcrumbs">
    <div class="wrapper">
      <div class="row collapse">
        <div class="column small-12">
          <div id="breadcrumbs"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="map" class="c-map"></div>

  <div id="dataTabNav" class="c-tabnav">
    <div class="wrapper">
      <div class="row collapse">
        <div class="column small-12">
          <ul class="tabnav-list">
             <% @filters.each do |filter| %>
              <li class="tabnav-item">
                <%= link_to t(filter),
                  map_path(request.query_parameters.merge({ data: filter })),
                  class: "js-btn-mapmenu-type",
                  remote: true,
                  data: { datatype: filter }
                %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- toolbar -->
<div class="c-toolbar">
  <div class="wrapper">
    <div class="row collapse">
      <div class="column small-12">
        <div id="toolbar"></div>
      </div>
    </div>
  </div>
</div>

<div class="c-card-grid" id="content">
  <% if @current_type == 'events' %>
    <%= render 'events/grid', items: @items %>
  <% else %>
    <%= render 'projects/grid', items: @items %>
  <% end %>
</div>

<div class="c-card-grid">
  <div class="c-pagination-button">
    <% page = params.key(:page) && params[:page] ? params[:page] + 1 : 2 %>
    <%= link_to (t 'show_more'),
      map_path(request.query_parameters.merge({ page: page })),
      class: "circle-button",
      remote: true
    %>
  </div>
</div>
