<div class="c-section-intro">
	<div id="map" class="map c-map" data-turbolinks-permanent></div>
	<ul class="c-section-menu">
	   <% @filters.each do |filter| %>
      <% @class = !params['type'] && filter == "projects" ? "-active" : active_param?('type', filter) %>
      <li>
        <%= link_to (t filter),
          map_path(request.query_parameters.merge({ type: filter })),
          class: @class,
          id: "mn-" + filter,
          remote: true,
          data: { magic: true } %>
      </li>
    <% end %>
	</ul>
</div>


<div id="map-layers-tooltip" class="c-tooltip -tip-left">
	hola, soy tooltip y tú?
</div>

<!-- c-map-menu -->
<%= render partial: "map-menu" %>

<!-- c-map-filters -->
<%= render partial: "map-filters" %>

<!-- c-grid-proyects -->
<div class="c-card-grid" id="content">
  <%= render(:partial => @current_type) %>
</div>

