<div class="c-section-intro">
  <div class="c-map-breadcrumbs">
    <div class="row">
      <div class="column small-12">

      </div>
    </div>
  </div>

  <!-- <button id="btn-clear-filters" class="btn-reset-filters c-button -filled -inverse">Clear filters</button> -->
  <div id="map" class="c-map"></div>

  <!-- <div id="map-tooltip" class="c-map-tooltip"></div> -->

  <div id="dataTabNav" class="c-tabnav">
    <div class="row">
      <div class="column small-12">
        <ul class="tabnav-list">
           <% @filters.each do |filter| %>
            <%# @class = !params['type'] and filter == "projects" ? "-active" : active_param?('type', filter) %>
            <li class="tabnav-item">
              <a class="js-btn-mapmenu-type" href="#" data-type="<%= filter %>"><%= t (filter) %></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>


<div id="map-layers-tooltip" class="c-tooltip -tip-left"></div>

<!-- toolbar -->
<div id="toolbar" class="c-toolbar"></div>

<!-- c-map-share -->
<%# render partial: "map-share" %>

<!-- c-map-tooltips -->
<%# render partial: "map-tooltips" %>

<!-- c-grid-proyects -->
<div class="c-card-grid" id="content">
  <%= render(:partial => @current_type) %>
</div>

